@charset "UTF-8";
/*!
	Author: Shane Schroll | Gardner Design Developer
	Author URL: https://gardnerdesign.com
	Theme Name: FlagshipKS Theme
	Description: Modular blocks.
	Version: 1.1.2
	Text Domain: mod
*/
body a, body p, body span, body address, body table, body td,
body small, body time, body ol, body ul, body li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #003891;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  line-height: 1.8;
}
body a {
  text-decoration: none;
  transition: 0.2s ease-out;
}
body a:hover {
  transition: 0.2s ease-out;
  text-decoration: none;
}
body .content-wrapper a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}
body p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}
body table tr th {
  padding: 0.2rem;
}
body table tr td {
  font-size: 0.9375rem;
  padding: 0.2rem;
}
body small {
  font-size: 0.875rem;
  font-style: italic;
}
body time {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
body ul:not(.menu) li,
body ol li {
  margin-bottom: 0.25rem;
}
body ul:not(.menu) ul,
body ol ul {
  margin-top: 0;
}
body h1, body h2, body h3,
body h4, body h5, body h6, body .h3 {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0.4rem;
  font-family: "axia", sans-serif;
  color: #003891;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 1.2;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}
body h1 {
  font-size: 3.5rem;
}
@media (min-width: 768px) {
  body h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1023px) {
  body h1 {
    font-size: 5rem;
  }
}
body h2 {
  font-size: 80px;
  line-height: 1.1;
  /*
  	font-size: 2.25rem; // 26px
  	@include bp(xs) { font-size: 3; } // 48px
  	@include bp(sm) { font-size: 3.75rem; } // 60px
  */
}
@media (max-width: 900px) {
  body h2 {
    font-size: 65px;
  }
}
@media (max-width: 600px) {
  body h2 {
    font-size: 50px;
  }
}
body h3, body .h3 {
  font-size: 45px;
  line-height: 1.1;
  /*
  	font-size: 1.75rem; // 28px
  	@include bp(sm) { font-size: 2.25rem; } // 36px
  */
}
@media (max-width: 900px) {
  body h3, body .h3 {
    font-size: 37px;
  }
}
@media (max-width: 600px) {
  body h3, body .h3 {
    font-size: 30px;
  }
}
body h4 {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body h5 {
  font-size: 1rem;
}
body h6 {
  font-size: 0.9375rem;
}
body .editor-button-block, body .editor-button-block--cyan,
body .scroll_down_button--cyan, body .editor-button-block--blue,
body .scroll_down_button--blue, body .editor-button-block--yellow, body .editor-button-block--yellow-b,
body .scroll_down_button--yellow,
body .scroll_down_button--yellow-b,
body .scroll_down_button {
  display: inline-block;
  margin-bottom: 1.25rem;
  margin-right: 1.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  border-radius: 25px;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  /*
  	&--yellow-b {
  		// color: $dark-blue;

  		&:hover {
  			color: $white;
  		}
  	}
  */
}
body .editor-button-block:hover, body .editor-button-block--cyan:hover,
body .scroll_down_button--cyan:hover, body .editor-button-block--blue:hover,
body .scroll_down_button--blue:hover, body .editor-button-block--yellow:hover, body .editor-button-block--yellow-b:hover,
body .scroll_down_button--yellow:hover,
body .scroll_down_button--yellow-b:hover,
body .scroll_down_button:hover {
  text-decoration: none;
}
body .editor-button-block--yellow, body .editor-button-block--yellow-b,
body .scroll_down_button--yellow,
body .scroll_down_button--yellow-b {
  background-color: #FFBC00;
  color: #003891;
}
body .editor-button-block--yellow:hover, body .editor-button-block--yellow-b:hover,
body .scroll_down_button--yellow:hover,
body .scroll_down_button--yellow-b:hover {
  color: #fff;
  background-color: #004CDA;
}
body .editor-button-block--blue,
body .scroll_down_button--blue {
  background-color: #003891;
  color: #fff;
}
body .editor-button-block--blue:hover,
body .scroll_down_button--blue:hover {
  color: #003891;
  background-color: #FFBC00;
}
body .editor-button-block--cyan,
body .scroll_down_button--cyan {
  background-color: #00C5EC;
  color: #fff;
}
body .editor-button-block--cyan:hover,
body .scroll_down_button--cyan:hover {
  background-color: #003891;
}
body .scroll_down_button {
  background-color: #003891;
  color: #fff;
}
body .scroll_down_button:hover {
  background-color: #FFBC00;
}
body .accordion-container {
  max-width: 70rem;
  margin: 0 auto;
}
body .accordion-container .accordion-block-title {
  display: block;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ebebeb;
  color: #3e3e3e;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  body .accordion-container .accordion-block-title {
    font-size: 1.4375rem;
  }
}
body .accordion-container .accordion-block-title:hover {
  cursor: pointer;
}
body .accordion-container .accordion-block-title:after {
  content: "";
  position: absolute;
  top: 0.75rem;
  margin-left: 0.5rem;
  font-size: 0.9375rem;
  font-weight: bold;
  font-family: FontAwesome;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  body .accordion-container .accordion-block-title:after {
    font-size: 1.2rem;
  }
}
body .accordion-container .remove-border {
  transition: 0.1s ease-in;
  border-bottom: 1px solid transparent;
}
body .accordion-container .chevron-rotate:after {
  transform: rotate(90deg);
  transition: 0.3s ease-in;
}
body .full-width-block {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 5rem 2.25rem;
  background-repeat: no-repeat;
  background-position: calc(0% + 60vw) 50%;
  background-size: auto 100%;
  background-color: #004CDA;
}
@media (min-width: 960px) {
  body .full-width-block {
    padding: 8rem 2.25rem;
  }
}
body .full-width-block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 75rem;
  margin: 0 auto;
}
@media (min-width: 960px) {
  body .full-width-block__content {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
body .full-width-block__content h3, body .full-width-block__content p {
  color: #fff;
  max-width: 25rem;
}
body .full-width-block__content h3 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1;
  letter-spacing: 0.025em;
  font-size: 50px;
}
@media (min-width: 900px) {
  body .full-width-block__content h3 {
    font-size: 65px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  body .full-width-block__content h3 {
    font-size: 80px;
  }
}
@media (min-width: 900px) {
  body .full-width-block__content .middle {
    margin-right: 20%;
  }
}
body .full-width-block__content p {
  line-height: 1.8;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
}
body .full-width-block__content p strong {
  color: #FFBC00;
  display: inline-block;
}
body .full-width-block__content a {
  margin-bottom: 0;
}
body .strategy-block {
  position: relative;
  left: 50%;
  right: 50%;
  width: 100vw;
  background-color: #004CDA;
  margin: 8rem -50vw;
  padding: 5rem;
}
body .strategy-block h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.75rem;
}
body .strategy-block__container {
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  body .strategy-block__container {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
}
@media (min-width: 1023px) {
  body .strategy-block__container {
    justify-content: space-between;
  }
}
body .strategy-block__container--section {
  width: 30%;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  body .strategy-block__container--section {
    margin-bottom: 0;
  }
}
body .strategy-block__container--section svg {
  display: block;
  width: 5rem;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  body .strategy-block__container--section svg {
    width: 6rem;
  }
}
body .strategy-block__container--section h2, body .strategy-block__container--section h3, body .strategy-block__container--section h4, body .strategy-block__container--section p {
  color: #fff;
}
body .strategy-block__container--section h4 {
  color: #00C5EC;
  margin-top: 2rem;
}
body .strategy-block__container--section h2, body .strategy-block__container--section h3 {
  margin-top: 0 !important;
}
body .strategy-block__container--section p {
  max-width: 19rem;
  margin: 0 auto 10px auto;
}
body .strategy-block .editor-button-block--blue {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}
body .strategy-block .button-container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 5rem;
}
body .strategy-block + .wp-block-group.has-background {
  margin-top: -8rem !important;
}
body .stories {
  max-width: 100vw;
  margin: 3rem -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}
body .stories--shift-wrap {
  display: grid;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 50%);
  row-gap: 5rem;
  column-gap: 0;
}
body .stories--shift-wrap .odd, body .stories--shift-wrap .even {
  text-align: center;
  margin: 0 auto;
  padding: 2.15rem;
}
body .stories--shift-wrap .odd video, body .stories--shift-wrap .even video {
  max-width: 40rem;
  width: 100%;
  object-fit: fill;
  border: 1px solid #ebebeb;
}
body .stories--shift-wrap h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
body .stories--shift-wrap .video-wrapper {
  width: 100%;
}