@charset "UTF-8";
/*!
	Author: Shane Schroll | Gardner Design Developer
	Author URL: https://gardnerdesign.com
	Theme Name: FlagshipKS Theme
	Description: Modular theme and blocks.
	Version: 1.3.1
	Text Domain: mod
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
	========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
	========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
	========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
	========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
	========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.4;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::placeholder {
  color: #003891;
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
}

a, p, span, address, table, td,
small, time, ol, ul, li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #003891;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  line-height: 1.8;
}

a {
  text-decoration: none;
  transition: 0.2s ease-out;
}
a:hover {
  transition: 0.2s ease-out;
  text-decoration: none;
}

.content-wrapper a {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

p {
  margin-top: 0;
  margin-bottom: 1.15rem;
}

table tr th {
  padding: 0.2rem;
}

table tr td {
  font-size: 0.9375rem;
  padding: 0.2rem;
}

small {
  font-size: 0.875rem;
  font-style: italic;
}

time {
  display: block;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

ul:not(.menu) li,
ol li {
  margin-bottom: 0.25rem;
}
ul:not(.menu) ul,
ol ul {
  margin-top: 0;
}

h1, h2, h3,
h4, h5, h6, .h3 {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0.4rem;
  font-family: "axia", sans-serif;
  color: #003891;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 1.2;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
}

h1 {
  font-size: 3.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1023px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 80px;
  line-height: 1.1;
  /*
  	font-size: 2.25rem; // 26px
  	@include bp(xs) { font-size: 3; } // 48px
  	@include bp(sm) { font-size: 3.75rem; } // 60px
  */
}
@media (max-width: 900px) {
  h2 {
    font-size: 65px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 50px;
  }
}

h3, .h3 {
  font-size: 45px;
  line-height: 1.1;
  /*
  	font-size: 1.75rem; // 28px
  	@include bp(sm) { font-size: 2.25rem; } // 36px
  */
}
@media (max-width: 900px) {
  h3, .h3 {
    font-size: 37px;
  }
}
@media (max-width: 600px) {
  h3, .h3 {
    font-size: 30px;
  }
}

h4 {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.9375rem;
}

.main-post-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.content-block {
  max-width: 80rem;
  margin: 2rem auto;
  padding: 1rem 2.15rem;
}
.content-block p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.content-block-default {
  max-width: 50rem;
  margin: 0 auto;
  padding: 8rem 30px;
}
@media (min-width: 1023px) {
  .content-block-default {
    padding: 8rem 5rem;
  }
}
.content-block-default h2:not(:first-child) {
  margin-top: 5rem;
}
.content-block-default h2:not(:last-child) {
  margin-bottom: 2.5rem;
}
.content-block-default h3:not(:first-child) {
  margin-top: 3rem;
}
.content-block-default h3:not(:last-child) {
  margin-bottom: 1.5rem;
}
.content-block-default h4 {
  color: #00C5EC;
}
.content-block-default h4 + h2 {
  margin-top: 10px !important;
}
.content-block-default h4:first-child {
  margin-top: 0 !important;
}
.content-block-default p, .content-block-default ul li, .content-block-default ol li {
  font-size: 1.2rem;
}
.content-block-default p.has-medium-font-size {
  font-size: 1.5rem;
  line-height: 1.5;
}
.content-block-default p a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.content-block-default ul li {
  list-style-type: square;
  margin-top: 1rem;
  margin-left: 1.25rem;
  padding-left: 0.5rem;
}
.content-block-default .has-flagship-cyan-background-color {
  background: #00C5EC;
}
.content-block-default .has-flagship-blue-background-color {
  background: #004CDA;
  color: #fff;
  background-image: url("static/images/block-rings.svg");
  background-repeat: no-repeat;
  background-position: calc(0% + 60vw) 50%;
  background-size: auto 100%;
  background-color: #004CDA;
}
.content-block-default .has-flagship-blue-background-color h1, .content-block-default .has-flagship-blue-background-color h2, .content-block-default .has-flagship-blue-background-color h3, .content-block-default .has-flagship-blue-background-color h5, .content-block-default .has-flagship-blue-background-color h6, .content-block-default .has-flagship-blue-background-color p, .content-block-default .has-flagship-blue-background-color p a, .content-block-default .has-flagship-blue-background-color li {
  color: inherit;
}
.content-block-default .has-flagship-blue-background-color h4 {
  color: #00C5EC;
}
.content-block-default .has-flagship-blue-background-color strong {
  color: #FFBC00;
}
.content-block-default .has-flagship-blue-dark-background-color {
  background: #003891;
  color: #fff;
}
.content-block-default .has-flagship-blue-dark-background-color h1, .content-block-default .has-flagship-blue-dark-background-color h2, .content-block-default .has-flagship-blue-dark-background-color h3, .content-block-default .has-flagship-blue-dark-background-color h5, .content-block-default .has-flagship-blue-dark-background-color h6, .content-block-default .has-flagship-blue-dark-background-color p, .content-block-default .has-flagship-blue-dark-background-color p a, .content-block-default .has-flagship-blue-dark-background-color li {
  color: inherit;
}
.content-block-default .has-flagship-blue-dark-background-color h4 {
  color: #00C5EC;
}
.content-block-default .has-flagship-blue-dark-background-color strong {
  color: #FFBC00;
}
.content-block-default .has-flagship-gold-background-color {
  background: #FFBC00;
}
.content-block-default .alignfull {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
}
.content-block-default .alignfull .wp-block-group__inner-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 30px;
}
@media (min-width: 768px) {
  .content-block-default .alignfull .wp-block-group__inner-container {
    padding: 0 5rem;
  }
}
.content-block-default .alignwide {
  margin-left: -5rem;
  margin-right: -5rem;
}
.content-block-default .wp-block-group.has-background {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.content-block-default .wp-block-group.has-background:not(:first-child) {
  margin-top: 8rem;
}
.content-block-default .wp-block-group.has-background:not(:last-child) {
  margin-bottom: 8rem;
}
.content-block-default .wp-block-group.has-background:last-child {
  margin-bottom: -8rem;
}
.content-block-default .wp-block-group.has-background + .wp-block-group.has-background {
  margin-top: -8rem !important;
}
.content-block-default .wp-block-group.has-background p + h4 {
  margin-top: 5rem;
}
.content-block-default .wp-block-group.awareness, .content-block-default .wp-block-group.workforce, .content-block-default .wp-block-group.education {
  position: relative;
  position: relative;
  /*
  		    padding-left: 250px;
  		    margin-left: -8rem;
  		    margin-right: -8rem;
  */
}
@media (min-width: 1023px) {
  .content-block-default .wp-block-group.awareness, .content-block-default .wp-block-group.workforce, .content-block-default .wp-block-group.education {
    padding-left: 250px;
    margin-left: -8rem;
    margin-right: -8rem;
  }
}
.content-block-default .wp-block-group.awareness .wp-block-group__inner-container, .content-block-default .wp-block-group.workforce .wp-block-group__inner-container, .content-block-default .wp-block-group.education .wp-block-group__inner-container {
  padding: 5rem 0;
}
.content-block-default .wp-block-group.awareness .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education .wp-block-group__inner-container:before {
  content: "";
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 1023px) {
  .content-block-default .wp-block-group.awareness .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education .wp-block-group__inner-container:before {
    left: calc(-5rem - 160px);
    width: 160px;
    height: 160px;
    margin-bottom: -160px;
  }
}
@media (max-width: 600px) {
  .content-block-default .wp-block-group.awareness .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education .wp-block-group__inner-container:before {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
  }
}
.content-block-default .wp-block-group.awareness.awareness .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce.awareness .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education.awareness .wp-block-group__inner-container:before {
  background-image: url("static/images/awareness_gold.svg");
}
.content-block-default .wp-block-group.awareness.education .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce.education .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education.education .wp-block-group__inner-container:before {
  background-image: url("static/images/education_gold.svg");
}
.content-block-default .wp-block-group.awareness.workforce .wp-block-group__inner-container:before, .content-block-default .wp-block-group.workforce.workforce .wp-block-group__inner-container:before, .content-block-default .wp-block-group.education.workforce .wp-block-group__inner-container:before {
  background-image: url("static/images/workforce_gold.svg");
}
.content-block-default .wp-block-group.awareness:target, .content-block-default .wp-block-group.workforce:target, .content-block-default .wp-block-group.education:target {
  margin-top: calc(-5rem - 100px);
  padding-top: calc(5rem + 100px);
}
.content-block-default .wp-block-columns.has-background {
  justify-content: center;
  align-items: center;
  padding: 8rem 30px;
}
@media (min-width: 768px) {
  .content-block-default .wp-block-columns.has-background {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media (min-width: 1023px) {
  .content-block-default .wp-block-columns.has-background {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.content-block-default .wp-block-columns.has-background h3 {
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 50px;
  line-height: 1;
  letter-spacing: 0.025em;
  font-size: 50px;
}
@media (min-width: 900px) {
  .content-block-default .wp-block-columns.has-background h3 {
    font-size: 65px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .content-block-default .wp-block-columns.has-background h3 {
    font-size: 80px;
  }
}
.content-block-default .wp-block-columns.has-background p {
  margin-bottom: 0;
}
.content-block-default .wp-block-columns.has-background p strong {
  color: #FFBC00;
}
.content-block-default .wp-block-columns.has-background [class^=editor-button-block] {
  margin: 0;
  margin-top: 1.75rem;
}
.content-block-default .wp-block-columns.has-background .wp-block-column {
  max-width: 37.5rem;
}
.content-block-default .wp-block-columns.has-background .wp-block-column:first-child * {
  max-width: 25rem;
}
.content-block-default .wp-block-columns.has-background .wp-block-column + .wp-block-column {
  margin-left: 0 !important;
  margin-right: 20%;
}
.content-block-default .wp-block-columns.has-background:not(:first-child) {
  margin-top: 8rem;
}
.content-block-default .wp-block-columns.has-background:not(:last-child) {
  margin-bottom: 8rem;
}
.content-block-default .wp-block-columns.has-background:last-child {
  margin-bottom: -8rem;
}
.content-block-default .wp-block-columns h2.has-text-align-center {
  margin-bottom: 0 !important;
}
.content-block-default .wp-block-buttons {
  margin-top: 1.75rem;
}
.content-block-default .wp-block-buttons .wp-block-button .wp-block-button__link {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  border-radius: 25px;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 1px;
}
.content-block-default .wp-block-buttons .wp-block-button .wp-block-button__link.has-flagship-blue-dark-background-color {
  color: #fff;
  background: #003891;
}
.content-block-default .wp-block-buttons .wp-block-button .wp-block-button__link.has-flagship-blue-dark-background-color:hover {
  color: #003891;
  background: #FFBC00;
}
.content-block-default .wp-block-buttons .wp-block-button .wp-block-button__link.has-flagship-gold-background-color {
  color: #003891;
  background: #FFBC00;
}
.content-block-default .wp-block-buttons .wp-block-button .wp-block-button__link.has-flagship-gold-background-color:hover {
  background: #fff;
}
.content-block-default section.sponsors {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: none;
  padding-bottom: 0 !important;
}

.news-content-block {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 1rem 2.15rem;
}
.news-content-block h2, .news-content-block h3 {
  line-height: 1.2;
  margin-top: 2rem;
}
.news-content-block a {
  color: #004CDA;
  font-weight: 600;
  text-decoration: none;
}
.news-content-block a:hover {
  text-decoration: underline;
}
.news-content-block p {
  color: #003891;
  font-weight: 500;
  line-height: 1.8;
}
.news-content-block img {
  margin: 0 auto;
}

.is-loading .gif-loader {
  display: block;
  width: 4.25rem;
  height: 4.25rem;
  background: url("static/images/loading.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 0 auto 3.5rem;
  padding: 1rem;
  transition: 0.2s ease-in;
}

a.read-more {
  display: none;
}

button {
  background: unset;
  border: unset;
}
button:hover {
  cursor: pointer;
}

.close-notice {
  color: #fff;
  position: absolute;
  top: 3.5rem;
  right: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
}

.wp-block-quote {
  margin-left: 1rem;
  padding-left: 1.5rem;
  border-left: 2px solid #003891;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.center {
  text-align: center;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.light-black {
  color: #3e3e3e;
}

.blue {
  color: #004CDA;
}

.yellow {
  color: #FFBC00;
}

.cyan {
  color: #00C5EC;
}

.dark-blue {
  color: #003891;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
  	* Remove all paddings around the image on small screen
  	*/
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75);
  }

  .mfp-arrow-left {
    transform-origin: 0;
  }

  .mfp-arrow-right {
    transform-origin: 100%;
  }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.forum-wrapper {
  max-width: 75rem;
  padding: 1rem 2.5rem;
  margin: 5rem auto;
}

#bbp_topic_submit, .user-submit {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem;
  border: 1px solid #003891;
  background-color: #004CDA;
  color: #fff;
  letter-spacing: 1px;
}
#bbp_topic_submit:hover, .user-submit:hover {
  cursor: pointer;
  background-color: #003891;
}

.bbp-pagination-count {
  display: none;
}

#menu-toggle {
  position: relative;
  display: block;
  z-index: 99999;
}
#menu-toggle:hover {
  cursor: pointer;
}
#menu-toggle:hover .x-bar {
  background-color: #003891;
}
#menu-toggle .x-bar {
  position: relative;
  display: block;
  top: 0.2rem;
  height: 3px;
  margin-bottom: 5px;
  margin-right: 0;
  margin-left: auto;
  background-color: #004CDA;
  transition: 0.2s ease-out;
  border-radius: 2px;
}
#menu-toggle .x-bar:nth-child(3n+1) {
  width: 1.75rem;
}
#menu-toggle .x-bar:nth-child(3n+2) {
  width: 1.75rem;
}
#menu-toggle .x-bar:nth-child(3n+3) {
  width: 1.75rem;
}
#menu-toggle .x-bar-active {
  position: relative;
  transition: 0.2s ease-out;
  margin-bottom: 0;
  height: 3px;
}
#menu-toggle .x-bar-active:nth-child(3n+1) {
  top: 0.35rem;
  transform: rotate(-180deg) rotate(45deg);
  background-color: #fff;
}
#menu-toggle .x-bar-active:nth-child(3n+2) {
  opacity: 0;
}
#menu-toggle .x-bar-active:nth-child(3n+3) {
  top: 0;
  transform: rotate(180deg) rotate(-45deg);
  margin-bottom: 0;
  background-color: #fff;
}

.notice-banner {
  position: absolute;
  background-color: #004CDA;
  padding: 1.25rem 2rem;
  max-width: 100%;
  z-index: 250;
}
@media (min-width: 961px) {
  .notice-banner {
    position: relative;
  }
}
.notice-banner p {
  color: #fff;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.social-icon-component {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}
.social-icon-component .icon {
  max-width: 2.5rem;
  width: 100%;
}
.social-icon-component .icon:last-of-type {
  width: unset;
}
.social-icon-component .icon .fab {
  width: 1.5rem;
  color: #3e3e3e;
  font-size: 1.5rem;
}
.social-icon-component .icon .fab:hover {
  color: rgba(62, 62, 62, 0.7);
}

.gform_wrapper {
  font-family: "Montserrat", sans-serif;
  max-width: 33.5rem;
}
.gform_wrapper h2 {
  margin-bottom: 0;
}
.gform_wrapper label, .gform_wrapper input, .gform_wrapper textarea, .gform_wrapper select {
  color: #003891;
}
.gform_wrapper input, .gform_wrapper textarea, .gform_wrapper select {
  border: 2px solid #003891;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
.gform_wrapper select {
  font-weight: 600;
}
.gform_wrapper .gfield_description {
  color: #004CDA;
  font-weight: 500;
}
.gform_wrapper span.gfield_required_text {
  display: none;
}
.gform_wrapper #gfield_instruction_1_4 {
  display: none;
}
.gform_wrapper .ginput_total {
  font-weight: 500;
  letter-spacing: 1px;
}
.gform_wrapper .gfield {
  margin-bottom: 1.5rem;
}
.gform_wrapper .gform_button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  line-height: 1.2;
  border-width: 0;
  border-radius: 25px;
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 1px;
  transition: background 0.3s;
  color: #fff;
  background: #004CDA;
  /*
  		font-family: $font-head;
  		font-size: 1.1rem;
  		color: $dark-blue;
  		font-weight: 900;
  		background: unset;
  		padding: 0.5rem 1.25rem;
  		border: none;
  		border-radius: 25px;
  		background-color: $yellow;
  		transition: 0.1s ease-out;
  		line-height: 1.2;

  		&:hover {
  			cursor: pointer;
  			background-color: $blue;
  			color: $white;
  			transition: 0.1s ease-out;
  		}
  */
}
.gform_wrapper .gform_button:hover {
  background: #fff;
}
.gform_wrapper .validation_message {
  border-color: #83010d !important;
  border-width: 2px !important;
  color: #83010d !important;
  border-radius: 7px;
  font-weight: bold;
}
.gform_wrapper .ginput_stripe_creditcard .ginput_full {
  margin-bottom: 1rem !important;
}
.gform_wrapper #input_5_6_1_label,
.gform_wrapper #input_5_6_5_label {
  display: none !important;
}
.gform_wrapper.gravity-theme .ginput_total {
  font-size: 2rem;
  color: #003891 !important;
}

#gform_wrapper_7 {
  margin-top: 2.5rem;
}
#gform_wrapper_7 .gfield {
  margin-bottom: 0.5rem;
}
#gform_wrapper_7 #field_7_7 {
  margin-bottom: 0;
}

#menu-toggle {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 150px;
  margin: 0 auto;
  padding: 0 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 9999;
}
.nav-wrapper.smaller {
  height: 100px;
}

.add-shadow {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05), 0 5px 50px rgba(0, 0, 0, 0.05);
}

@media (min-width: 60em) {
  .nav-module {
    position: relative;
    z-index: 9999;
    height: 150px;
    background-color: #fff;
  }

  .mobile-nav-wrapper {
    display: none;
  }

  .logo-desktop {
    position: absolute;
    width: 10rem;
    top: 2.75rem;
    left: 4rem;
  }
  .logo-desktop:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: -77px;
    left: 0;
    right: 0;
    height: 57px;
    background: #fff;
  }

  .logo-mobile {
    display: none;
  }

  .site-logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .site-logo.smaller {
    transform: translateY(-77px);
  }

  .nav-container {
    width: 100%;
  }
  .nav-container .menu {
    display: flex;
    justify-content: flex-end;
    max-width: 100%;
  }
  .nav-container .menu li a {
    line-height: 60px;
  }
  .nav-container .menu .menu-item-has-children {
    position: relative;
  }
  .nav-container .menu .menu-item-has-children .sub-menu {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    left: -0.75rem;
    transition: opacity 0.1s ease-out;
    padding: 1.4rem 0;
    z-index: 90;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    pointer-events: none;
  }
  .nav-container .menu .menu-item-has-children .sub-menu li {
    margin-bottom: 0;
    /*
    					margin-bottom: 1.5rem;

    					&:last-of-type {
    						margin-bottom: 0;
    					}
    */
  }
  .nav-container .menu .menu-item-has-children .sub-menu a {
    display: block;
    line-height: 1.8;
    white-space: nowrap;
    padding: 0.3rem 2rem;
  }
  .nav-container .menu .menu-item-has-children:hover .sub-menu {
    opacity: 1;
    transition: opacity 0.1s ease-out;
    pointer-events: auto;
  }
  .nav-container .menu a {
    position: relative;
    font-size: 1.25rem;
    font-family: "axia", sans-serif;
    font-weight: 900;
    color: #004CDA;
    padding: 0.5rem 1.25rem;
    letter-spacing: 1px;
  }
  .nav-container .menu a:hover {
    color: #FFBC00;
  }
  .nav-container .menu > li:not(:last-child) > a[aria-current=page]:before {
    content: "";
    position: absolute;
    top: 100%;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border: 100%;
    border-radius: 100%;
    background: #FFBC00;
  }
  .nav-container .menu > .menu-item:last-child {
    margin-left: 0.75rem;
  }
  .nav-container .menu > .menu-item:last-child a {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    background-color: #FFBC00;
    color: #fff;
    border-radius: 25px;
    padding: 0.6rem 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .nav-container .menu > .menu-item:last-child a:hover {
    background-color: #004CDA;
    text-decoration: none !important;
  }
}
@media (max-width: 60em) {
  .nav-module {
    height: 100px;
  }

  .nav-wrapper {
    padding: 0 30px;
    height: 100px;
  }

  .nav-container {
    display: none;
  }

  #menu-toggle {
    display: block;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .site-logo-m {
    width: 12rem;
  }

  .mobile-open-icon {
    width: 3rem;
    margin-bottom: 2rem;
    margin-left: 0.75rem;
  }

  .mobile-nav-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(100%);
    text-align: left;
    z-index: 999;
    background-color: #004CDA;
    transition: transform 0.3s ease-in;
    overflow: scroll;
  }
  .mobile-nav-wrapper .mobile-nav-container {
    margin-top: 7.5rem;
    margin-left: 3.5rem;
    overflow-x: hidden;
  }
  .mobile-nav-wrapper li:not(.sub-menu li) {
    margin-bottom: 1rem;
  }
  .mobile-nav-wrapper li:not(.sub-menu li) ul {
    position: relative;
    margin-top: 1.25rem;
    min-height: 0;
  }
  .mobile-nav-wrapper a {
    display: inline-block;
    font-family: "axia", sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    padding: 0.5rem;
    width: 100%;
    letter-spacing: 1px;
  }
  .mobile-nav-wrapper .menu-item-111993 a {
    width: unset;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    background-color: #FFBC00;
    padding: 0.5rem 1.75rem;
    border-radius: 25px;
    margin-top: 1.5rem;
  }
  .mobile-nav-wrapper .menu-item-has-children {
    position: relative;
  }
  .mobile-nav-wrapper .menu-item-has-children > a {
    position: relative;
    width: 100%;
  }
  .mobile-nav-wrapper .menu-item-has-children > a:after {
    content: "";
    position: absolute;
    top: 0.75rem;
    right: 2.6rem;
    font-family: FontAwesome;
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
    transition: 0.2s ease-out;
    transform: rotate(0);
  }
  .mobile-nav-wrapper .menu-item-has-children > a:hover {
    cursor: pointer;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu {
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu li {
    padding-bottom: 1rem;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu li:last-of-type {
    padding-bottom: 0;
  }
  .mobile-nav-wrapper .menu-item-has-children > .sub-menu a {
    font-weight: 600;
    font-size: 1.1rem;
  }

  .sub-menu {
    display: none;
  }

  .mobile-nav-open {
    display: block;
    transform: translateX(0);
    transition: transform 0.3s ease-in;
  }

  .bottom-nav {
    position: absolute;
    bottom: 2.5rem;
    left: 2.5rem;
    width: 17rem;
  }
  .bottom-nav #footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 35rem;
  }
  .bottom-nav li a {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
/*
.home-header {
	.title-section {
		@include highest_z();
		max-width: 50rem;
		margin: 5rem auto; // auto 0;
		text-align: center;
	}
}
*/
.ring-content {
  position: relative;
  z-index: 9999;
  margin-top: 22rem;
}
.ring-content .text h4 {
  margin-bottom: 1.5rem;
}
.ring-content .text h3 {
  max-width: 25rem;
  margin: 0 auto 1.5rem;
  line-height: 1.2;
}
.ring-content .text p {
  max-width: 31rem;
  font-weight: 500;
  margin: 0 auto;
}

.default-header {
  position: relative;
  z-index: 5;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.default-header .header-side-rings {
  position: absolute;
  z-index: 1;
  top: 7.5rem;
  right: 0;
  width: 40%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .default-header .header-side-rings {
    top: 50%;
    width: 25%;
  }
}
@media (min-width: 1023px) {
  .default-header .header-side-rings {
    width: 15%;
  }
}
.default-header .cyan-bar {
  display: none;
  height: 3rem;
  width: calc(100% - 18rem);
  position: relative;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  background-color: #00C5EC;
}
@media (min-width: 768px) {
  .default-header .cyan-bar {
    display: block;
  }
}
.default-header .split-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .default-header .split-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: unset;
  }
}
.default-header .split-header .text-content, .default-header .split-header .image-content {
  width: 100%;
}
@media (min-width: 768px) {
  .default-header .split-header .text-content, .default-header .split-header .image-content {
    width: 51%;
  }
}
.default-header .split-header .text-content {
  position: relative;
  z-index: 9999;
  background-color: #004CDA;
}
@media (min-width: 60em) {
  .default-header .split-header .text-content {
    min-height: 400px;
  }
}
.default-header .split-header .text-content > div {
  position: relative;
  max-width: 45rem;
  margin: 0 auto;
  padding: 5rem 5rem;
}
@media (max-width: 60em) {
  .default-header .split-header .text-content > div {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .default-header .split-header .text-content > div {
    top: 50%;
    transform: translateY(-50%);
  }
}
.default-header .split-header .text-content .default-header-text {
  line-height: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}
.default-header .split-header .text-content h4 {
  color: #00C5EC;
}
.default-header .split-header .text-content h3 {
  /*
  				line-height: 1.2;
  				font-size: 2rem;
  				margin-top: 1rem;
  				margin-bottom: 1rem;
  */
}
.default-header .split-header .text-content h2 {
  margin-bottom: 0 !important;
}
.default-header .split-header .text-content h2, .default-header .split-header .text-content h4, .default-header .split-header .text-content p {
  margin: 0 auto 1rem;
}
.default-header .split-header .text-content h2, .default-header .split-header .text-content h3, .default-header .split-header .text-content p {
  color: #fff;
}
.default-header .split-header .text-content p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 0 !important;
  max-width: 28rem;
  margin-left: 0;
}
.default-header .split-header .text-content h4 {
  text-align: left;
}
.default-header .split-header .image-content {
  min-height: 15rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .default-header .split-header .image-content {
    min-height: unset;
  }
}
.default-header .filter-bar {
  background-color: #00C5EC;
  padding: 2.25rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 9999;
}
@media (min-width: 768px) {
  .default-header .filter-bar {
    position: unset;
    z-index: 1;
  }
}
.default-header .filter-bar__filters {
  position: relative;
  z-index: 9999;
  display: flex;
  max-width: 77rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .default-header .filter-bar__filters {
    flex-direction: row;
  }
}
.default-header .filter-bar__filters .filter {
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  color: #004CDA;
}
.default-header .filter-bar__filters .search {
  position: relative;
  margin-right: 0;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .default-header .filter-bar__filters .search {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.default-header .filter-bar__filters .search:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-family: FontAwesome;
}
.default-header .filter-bar__filters .radius {
  position: relative;
}
.default-header .filter-bar__filters .radius:before {
  content: "";
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%);
  font-family: FontAwesome;
}
.default-header .filter-bar__filters .facetwp-input-wrap {
  display: block;
}
.default-header .filter-bar__filters .facetwp-search, .default-header .filter-bar__filters .facetwp-location {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  width: 100%;
  border: unset;
}
.default-header .filter-bar__filters .facetwp-type-proximity {
  display: flex;
}
.default-header .filter-bar__filters .facetwp-radius {
  border: unset;
  color: #004CDA;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}
.default-header .filter-bar__filters .facetwp-radius:hover {
  cursor: pointer;
}
.default-header .filter-bar__filters .facetwp-location {
  margin-right: 1.5rem;
}
.default-header .filter-bar__filters .facetwp-facet {
  margin-bottom: 0;
}

.facetwp-counter {
  display: none;
}

.facetwp-icon {
  display: none;
}

#footer {
  max-width: 100%;
  margin: 0 auto;
  padding: 5rem;
  background-color: #003891;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer-container__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 28rem;
  width: 100%;
  text-align: center;
}
@media (min-width: 480px) {
  .footer-container__left {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
.footer-container__left img {
  display: inine-block;
  max-width: 9rem;
  margin-bottom: 3rem;
}
@media (min-width: 480px) {
  .footer-container__left img {
    margin-bottom: 0;
  }
}
.footer-container__left .phone {
  font-family: "axia", sans-serif;
  align-content: flex-start;
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0.05em;
  font-weight: 800;
}
.footer-container__left address {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.6;
}
.footer-container__left a, .footer-container__left a address {
  transition: 0.2s ease-out;
}
.footer-container__left a:hover, .footer-container__left a address:hover {
  color: #FFBC00;
  transition: 0.2s ease-out;
}
.footer-container__right {
  max-width: 15rem;
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 768px) {
  .footer-container__right {
    margin-top: 0;
  }
}
.footer-container__right .menu {
  max-width: 18rem;
  text-align: right;
}
.footer-container__right .menu li {
  display: inline-block;
}
.footer-container__right .menu li + li {
  margin-left: 30px;
}
.footer-container__right .menu a {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
  border-radius: 25px;
}
.footer-container__right .menu a:hover {
  color: #FFBC00;
}
.footer-container__right span {
  opacity: 0.5;
  display: block;
  text-align: center;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  font-weight: 500;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .footer-container__right span {
    text-align: right;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg) translateZ(0);
  }
  100% {
    transform: rotate(360deg) translateZ(0);
  }
}
html {
  overflow: visible;
}
@media (min-width: 601px) {
  html {
    scroll-snap-type: y proximity;
  }
}

html, body.home {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body.home {
  background: #004cda;
}
body.home .main-post-wrapper {
  padding: 0;
}
body.home .nav-module {
  height: 0;
}
body.home .nav-wrapper {
  position: absolute;
  z-index: 9999;
  background: transparent;
}
body.home .logo-desktop:before {
  content: none;
}
body.home .site-logo {
  opacity: 0;
}
body.home .site-logo-m {
  display: none;
}
body.home #primary-menu > li > a {
  color: #fff;
}
body.home #primary-menu > li > a:hover {
  color: #FFBC00;
}
body.home #primary-menu > .menu-item:last-child > a:hover {
  background-color: #003891 !important;
}
body.home #menu-toggle .x-bar {
  background-color: #fff;
}
body.home #menu-toggle .x-bar:hover {
  background-color: #fff;
}
body.home .sponsors {
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

body.home .home_page_special h1, body.home .home_page_special h2, body.home .home_page_special h3, body.home .home_page_special h4, body.home .home_page_special h5, body.home .home_page_special h6 {
  color: inherit;
  font-family: axia, sans-serif;
  font-weight: 800;
  margin-bottom: 50px;
  line-height: 1;
}
body.home .home_page_special h2, body.home .home_page_special h3 {
  letter-spacing: 0.025em;
}
body.home .home_page_special p, body.home .home_page_special ul, body.home .home_page_special ol {
  color: inherit;
  font-family: montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 500;
}
body.home .home_page_special p.medium, body.home .home_page_special ul.medium, body.home .home_page_special ol.medium {
  font-size: 1.5em;
}
@media (max-width: 600px) {
  body.home .home_page_special p.medium, body.home .home_page_special ul.medium, body.home .home_page_special ol.medium {
    font-size: 1.25em;
  }
}
body.home .home_page_special p.medium strong, body.home .home_page_special ul.medium strong, body.home .home_page_special ol.medium strong {
  color: #ffbc00;
  font-weight: 600;
}
body.home .home_page_special .rings {
  position: sticky;
  top: 0;
  height: 200vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: -200vh;
  transform: translateY(-100vh);
}
body.home .home_page_special .rings .rings_inner {
  position: absolute;
  top: calc(100vh - 300px);
  left: calc(50vw - 50vh - 300px);
  width: calc(100vh + 600px);
  height: auto;
  transform-origin: 50% 50%;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
}
body.home .home_page_special .rings svg {
  width: 100%;
  height: auto;
  transform-origin: 50% 50%;
}
body.home .home_page_special .rings svg g {
  transform-origin: 50% 50%;
  transform: translateZ(0);
  will-change: transform;
}
@media (min-width: 601px) {
  body.home .home_page_special .rings svg > g > g {
    animation: spin 60s linear forwards infinite;
  }
}
body.home .home_page_special .rings svg > g:nth-child(1) {
  animation-delay: -0.05s;
}
body.home .home_page_special .rings svg > g:nth-child(2) {
  animation-delay: -0.1s;
}
body.home .home_page_special .rings svg > g:nth-child(3) {
  animation-delay: -0.15s;
}
body.home .home_page_special .rings svg > g:nth-child(4) {
  animation-delay: -0.2s;
}
body.home .home_page_special .rings svg > g:nth-child(5) {
  animation-delay: -0.25s;
}
body.home .home_page_special .rings svg > g:nth-child(6) {
  animation-delay: -0.3s;
}
body.home .home_page_special .rings svg > g:nth-child(7) {
  animation-delay: -0.35s;
}
body.home .home_page_special .rings svg > g:nth-child(8) {
  animation-delay: -0.4s;
}
body.home .home_page_special .rings svg > g:nth-child(9) {
  animation-delay: -0.45s;
}
body.home .home_page_special .rings svg > g:nth-child(10) {
  animation-delay: -0.5s;
}
body.home .home_page_special .rings svg > g:nth-child(even) > g {
  animation-direction: reverse;
}
body.home .home_page_special .rings.animate_exit .rings_inner {
  transform: scale(3.333);
  transition: transform cubic-bezier(0.32, 0, 0.67, 0) 1s;
}
body.home .home_page_special section {
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  padding: 60px 50px;
  box-sizing: border-box;
}
body.home .home_page_special section .text {
  max-width: 800px;
  margin: 0 auto;
}
body.home .home_page_special section .scroll_down_button {
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  color: #fff;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 50px;
  padding: 0 40px;
  background: #003891;
  border-radius: 100px;
  transition: background 0.3s, opacity 0.3s, color 0.3s;
  cursor: pointer;
  margin: 0;
}
body.home .home_page_special section .scroll_down_button:hover {
  background: #ffbc00;
}
@media (max-width: 600px) {
  body.home .home_page_special section .scroll_down_button {
    padding: 0 30px;
  }
}
body.home .home_page_special section .scroll_down_button.hidden {
  opacity: 0;
  pointer-events: none;
}
body.home .home_page_special section h2 {
  width: 100%;
  font-size: 80px;
}
@media (max-width: 900px) {
  body.home .home_page_special section h2 {
    font-size: 65px;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section h2 {
    font-size: 50px;
  }
}
body.home .home_page_special section h3 {
  width: 100%;
  font-size: 40px;
  line-height: 1.2;
}
@media (max-width: 900px) {
  body.home .home_page_special section h3 {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section h3 {
    font-size: 30px;
  }
}
body.home .home_page_special section h5 {
  color: #00c5ec;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1em;
}
@media (max-width: 600px) {
  body.home .home_page_special section h5 {
    font-size: 0.8em;
    letter-spacing: 0.15em;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section p br {
    display: none;
  }
}
body.home .home_page_special section.section_top {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
  padding-top: 293px;
  padding-bottom: 380px;
}
@media (max-width: 600px) {
  body.home .home_page_special section.section_top {
    padding-top: 227px;
    padding-bottom: 360px;
  }
}
body.home .home_page_special section.section_top .logo {
  position: absolute;
  top: 80px;
  left: calc(50% - 120px);
  width: 240px;
  height: 153px;
  background: url("static/images/logo-dark.svg") no-repeat 0 0/contain;
}
@media (max-width: 900px) {
  body.home .home_page_special section.section_top .logo {
    top: 60px;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section.section_top .logo {
    width: 168px;
    height: 107px;
    left: calc(50% - 84px);
  }
}
body.home .home_page_special section.section_top h1 {
  width: 100%;
  font-size: 120px;
  margin-bottom: 0;
}
@media (max-width: 900px) {
  body.home .home_page_special section.section_top h1 {
    font-size: 80px;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section.section_top h1 {
    font-size: 56px;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special section.section_top h1 br {
    display: none;
  }
}
body.home .home_page_special section.section_b, body.home .home_page_special section.section_c {
  scroll-snap-align: center;
}
body.home .home_page_special section.section_b, body.home .home_page_special section.section_c, body.home .home_page_special section.section_e {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
body.home .home_page_special section.section_b p + p {
  margin-top: 30px;
}
body.home .home_page_special section.section_e {
  background: #fff;
  color: #004cda;
}
body.home .home_page_special section.section_videos {
  margin-top: -150px;
}
@media (max-width: 1200px) {
  body.home .home_page_special section.section_videos {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 901px) {
  body.home .home_page_special section.section_videos .video_outer.right .video {
    margin-left: 0 !important;
  }
}
body.home .home_page_special .strategy_outer {
  width: 100vw;
}
body.home .home_page_special .strategy_outer .strategy {
  width: 100vw;
}
@media (min-width: 601px) {
  body.home .home_page_special .strategy_outer .strategy {
    float: left;
    margin-right: -100vw;
    position: sticky;
    top: 0;
    height: 100vh;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media (min-width: 601px) {
  body.home .home_page_special .strategy_outer .scroll_section {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
  }
}
body.home .home_page_special .strategy_outer section {
  width: 100vw;
  text-align: center;
  white-space: normal;
}
@media (min-width: 601px) {
  body.home .home_page_special .strategy_outer section {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section {
    scroll-snap-align: center;
    padding-top: 25vh;
    padding-bottom: 25vh;
  }
}
body.home .home_page_special .strategy_outer section .icon {
  margin: 0;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
  }
}
@media (min-width: 601px) {
  body.home .home_page_special .strategy_outer section .text {
    width: 400px;
    margin: 0 0 0 60px;
    text-align: left;
    transform: translateY(45px);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
body.home .home_page_special .strategy_outer section .text h5 {
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section .text h5 {
    margin-bottom: 20px;
  }
}
body.home .home_page_special .strategy_outer section .text h2 {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section .text h2 {
    margin-bottom: 15px;
  }
}
body.home .home_page_special .strategy_outer section .text p {
  max-width: 360px;
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section .text p {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 601px) {
  body.home .home_page_special .strategy_outer section .text .button_outer {
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
body.home .home_page_special .strategy_outer section .text .button_outer .button {
  display: inline-block;
  color: #fff;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 50px;
  padding: 0 40px;
  background: #003891;
  border-radius: 100px;
  transition: background 0.3s, opacity 0.3s, color 0.3s;
  cursor: pointer;
  margin-top: 30px;
}
body.home .home_page_special .strategy_outer section .text .button_outer .button:hover {
  background: #ffbc00;
}
@media (max-width: 600px) {
  body.home .home_page_special .strategy_outer section .text .button_outer .button {
    margin-top: 0;
    color: #ffbc00;
    background: transparent;
  }
}
body.home .home_page_special .strategy_outer section .text .button_outer .button:hover {
  color: #fff;
}
body.home .home_page_special .strategy_outer section .text:hover {
  transform: translateY(0);
}
body.home .home_page_special .strategy_outer section .text:hover .button_outer {
  opacity: 1;
}
body.home .home_page_special .strategy_outer section.awareness .icon {
  background-image: url("static/images/awareness_gold.svg");
}
body.home .home_page_special .strategy_outer section.education .icon {
  background-image: url("static/images/education_gold.svg");
}
body.home .home_page_special .strategy_outer section.workforce .icon {
  background-image: url("static/images/workforce_gold.svg");
}

.sponsors {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2.25rem;
  background-color: #fff;
  text-align: center;
}
.sponsors:not(:first-child) {
  margin-top: 8rem;
}
.sponsors:not(:last-child) {
  margin-bottom: 8rem;
}
.sponsors h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
.sponsors--row {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 3rem auto 1.5rem;
}
.sponsors--row:first-of-type {
  max-width: 35rem;
}
.sponsors--row:nth-of-type(2) {
  max-width: 65rem;
}
.sponsors--row .logo-1 {
  max-width: 12.2rem;
}
.sponsors--row .logo-2 {
  max-width: 14.875rem;
}
.sponsors--row .logo-3, .sponsors--row .logo-4, .sponsors--row .logo-5 {
  max-width: 11.375rem;
}
.sponsors--row .logo-6 {
  max-width: 8.75rem;
}
.sponsors--cta {
  max-width: 43rem;
  margin: 5rem auto 0;
}
.sponsors--cta h1, .sponsors--cta p {
  color: #004CDA;
  margin-bottom: 2rem;
}
.sponsors--cta p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;
}
@media (max-width: 600px) {
  .sponsors--cta p {
    font-size: 1.25em;
  }
}
.sponsors--cta p strong {
  font-weight: 700;
}
.sponsors--cta a {
  margin-bottom: 0 !important;
}

section.section_videos {
  height: auto;
  padding: 0 120px 240px 120px;
  text-align: left;
  overflow: hidden;
}
@media (max-width: 1200px) {
  section.section_videos {
    padding-left: 0;
    padding-right: 0;
  }
}
section.section_videos .video_outer {
  position: relative;
}
@media (max-width: 1200px) {
  section.section_videos .video_outer {
    padding-left: 0;
    padding-right: 0;
  }
}
section.section_videos .video_outer .video {
  position: relative;
  display: block;
  width: calc(100% - 60px);
}
@media (min-width: 901px) {
  section.section_videos .video_outer .video {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}
section.section_videos .video_outer video {
  width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  section.section_videos .video_outer video {
    height: calc(100vw - 60px);
    object-fit: cover;
  }
}
section.section_videos .video_outer .text {
  text-align: left;
  padding: 0 60px;
  box-sizing: border-box;
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}
@media (min-width: 901px) {
  section.section_videos .video_outer .text {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
  }
}
@media (max-width: 900px) {
  section.section_videos .video_outer .text {
    padding-top: 30px;
  }
}
section.section_videos .video_outer h3 {
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  section.section_videos .video_outer h3 br {
    display: none;
  }
}
section.section_videos .video_outer p {
  letter-spacing: 0.025em;
}
section.section_videos .video_outer .waves {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 220px;
  height: 220px;
  overflow: hidden;
  will-change: transform;
  transform: translate(-50%, -50%) rotate(45deg);
  pointer-events: none;
}
section.section_videos .video_outer .waves .a, section.section_videos .video_outer .waves .b, section.section_videos .video_outer .waves .c {
  position: absolute;
  bottom: 0;
  left: 0;
  border: solid 30px #ffbc00;
  border-color: #ffbc00 transparent transparent transparent;
  border-radius: 100%;
  transform: rotate(45deg);
  box-sizing: border-box;
  transition: transform cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s, border cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
}
section.section_videos .video_outer .waves .a {
  bottom: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  border-color: #00c5ec transparent transparent transparent;
  transition-delay: 0.2s;
}
section.section_videos .video_outer .waves .b {
  bottom: calc(-0.5 * (200px + 120px));
  left: calc(-0.5 * (200px + 120px));
  width: 320px;
  height: 320px;
  transform: rotate(136deg);
  transition-delay: 0.1s;
}
section.section_videos .video_outer .waves .c {
  bottom: calc(-0.5 * (200px + 120px + 120px));
  left: calc(-0.5 * (200px + 120px + 120px));
  width: 440px;
  height: 440px;
  transform: rotate(-46deg);
}
section.section_videos .video_outer .play_pause {
  position: absolute;
  display: flex;
  align-items: center;
  top: calc(50% - 50px);
  left: calc(100% - 170px);
  width: 100px;
  height: 100px;
  text-align: center;
  color: #ffbc00;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 1em;
  line-height: 1.4;
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  pointer-events: none;
}
@media (max-width: 600px) {
  section.section_videos .video_outer .play_pause {
    font-size: 0.8em;
  }
}
section.section_videos .video_outer .play_pause:before {
  content: "Play Video";
}
@media (max-width: 900px) {
  section.section_videos .video_outer .play_pause:before {
    content: "";
  }
}
section.section_videos .video_outer .replay {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0px;
  left: 0px;
  padding: 30px;
  color: #004cda;
  font-family: montserrat, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  line-height: 0.8;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
section.section_videos .video_outer .replay:before {
  content: "Replay";
}
section.section_videos .video_outer .replay:hover {
  color: #ffbc00;
}
section.section_videos .video_outer .video.not_played .replay {
  display: none;
}
section.section_videos .video_outer .video.playing .play_pause:before {
  content: "Pause Video";
}
section.section_videos .video_outer .video:hover .waves .a {
  transform: rotate(-46deg);
  transition-delay: 0s;
}
section.section_videos .video_outer .video:hover .waves .b, section.section_videos .video_outer .video:hover .waves .c {
  transform: rotate(45deg);
}
section.section_videos .video_outer .video:hover .waves .c {
  transition-delay: 0.2s;
}
section.section_videos .video_outer .video:hover .play_pause {
  opacity: 1;
  transform: translateX(0);
}
@media (min-width: 901px) {
  section.section_videos .video_outer .video:hover + .text {
    transform: translateX(60px);
  }
}
@media (min-width: 901px) {
  section.section_videos .video_outer.right .video {
    margin-left: 50%;
  }
}
@media (max-width: 900px) {
  section.section_videos .video_outer.right .video {
    margin-left: 60px;
  }
}
section.section_videos .video_outer.right .text {
  text-align: right;
}
@media (min-width: 901px) {
  section.section_videos .video_outer.right .text {
    margin-left: -100%;
  }
}
section.section_videos .video_outer.right .waves {
  left: auto;
  right: 100%;
  transform: translate(50%, -50%) rotate(-135deg);
}
section.section_videos .video_outer.right .play_pause {
  left: auto;
  right: calc(100% - 170px);
  transform: translateX(20px);
}
section.section_videos .video_outer.right .replay {
  left: auto;
  right: 0px;
}
section.section_videos .video_outer.right .video:hover .play_pause {
  transform: translateX(0);
}
@media (min-width: 901px) {
  section.section_videos .video_outer.right .video:hover + .text {
    transform: translateX(-60px);
  }
}
section.section_videos .video_outer + .video_outer {
  padding-top: 150px;
}
@media (max-width: 1200px) {
  section.section_videos .video_outer + .video_outer {
    padding-top: 120px;
  }
}
.facetwp-template {
  display: none;
}

.facetwp-template.visible {
  display: block;
}

.facetwp-empty-loading {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 2.25rem;
}
.facetwp-empty-loading span, .facetwp-empty-loading p {
  color: rgba(0, 0, 0, 0.4);
}
.facetwp-empty-loading span {
  font-size: 4rem;
}
.facetwp-empty-loading p {
  max-width: 15rem;
  margin: 1.5rem auto 0;
  font-size: 1rem;
}

.job-results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 62.5rem;
}
@media (min-width: 768px) {
  .job-results {
    flex-direction: row;
    justify-content: space-between;
  }
}
.job-results--result-count {
  max-width: 10rem;
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .job-results--result-count {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
.job-results--jobs-list {
  max-width: 38.5rem;
  width: 100%;
}
.job-results--jobs-list .single-job .job-link {
  display: inline-block;
  font-weight: bold;
  color: #004CDA;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.job-results--jobs-list .single-job .job-employer, .job-results--jobs-list .single-job .job-description {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #003891;
}
.job-results--jobs-list .single-job .job-employer {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.job-results--jobs-list .single-job .job-description {
  font-size: 0.875rem;
}

.latest-news-title {
  color: #fff;
  line-height: 1.2;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.news-list {
  display: flex;
  flex-direction: column;
  max-width: 77rem;
  margin: 0 auto;
  justify-content: center;
}
@media (min-width: 800px) {
  .news-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.news-list .facetwp-template {
  max-width: 30rem;
}
@media (min-width: 800px) {
  .news-list .facetwp-template {
    max-width: 55rem;
  }
}
.news-list .news-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto 2rem;
}
@media (min-width: 800px) {
  .news-list .news-post {
    flex-direction: row;
  }
}
.news-list .news-post > div {
  max-width: 30rem;
}
@media (min-width: 800px) {
  .news-list .news-post > div {
    max-width: 25rem;
  }
}
.news-list .news-post img {
  max-width: 30rem;
  width: 100%;
  margin-bottom: 1rem;
}
@media (min-width: 800px) {
  .news-list .news-post img {
    max-width: 25rem;
    width: unset;
    margin-right: 1.5rem;
    margin-bottom: 0;
  }
}
.news-list .news-post .news-title-link {
  font-size: 1.1rem;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  color: #004CDA;
  line-height: 1.2;
}
.news-list .news-post .news-title-link:hover {
  color: #FFBC00;
}
.news-list .news-post h4 {
  font-size: 0.875rem;
}
.news-list .news-post p {
  font-size: 0.9375rem;
  color: #003891;
}
@media (min-width: 800px) {
  .news-list .filter-list {
    margin-left: 1.5rem;
  }
}
.news-list .filter-list h4 {
  text-align: left;
  margin-bottom: 1.5rem;
}
.news-list .filter-list .facetwp-radio {
  font-family: "Montserrat", sans-serif;
  color: #004CDA;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.25rem;
  background: unset;
  padding-left: 0;
}
.news-list .filter-list .facetwp-radio.checked {
  -webkit-text-decoration: 2px underline #FFBC00;
          text-decoration: 2px underline #FFBC00;
  text-underline-offset: 3px;
}

.board-members {
  margin: 5rem 0;
  position: relative;
  left: 50%;
  width: 100vw;
  margin: 5rem -50vw;
  padding: 5rem 10rem;
}
.board-members h2 {
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 10rem !important;
}
.board-members h2:not(:first-child) {
  margin-top: 10rem !important;
}
.board-members__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 21.25%);
  row-gap: 10rem;
  column-gap: 5%;
}
.board-members__grid--member {
  text-align: left;
  width: 100%;
}
.board-members__grid--member .image {
  width: 66.667%;
  padding-top: 66.667%;
  background-color: #f2f2f2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.board-members__grid--member h4 {
  color: #00c5ec;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
  text-align: inherit;
}
.board-members__grid--member h3 {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  text-align: inherit;
}
.board-members__grid--member p {
  font-size: 1rem;
  margin-bottom: 0;
}
.board-members__list--member {
  text-align: left;
  width: 100%;
}
.board-members__list--member h3 {
  margin-top: 0 !important;
  margin-bottom: 0.5rem !important;
  text-align: inherit;
}
.board-members__list--member p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */