{#
  * Block Name: Accordion Block
  * Creates a block with a title and content.
  * All content will "fold" into the title and drop down when clicked.
#}

<section class="accordion-container">
	<h4 class="accordion-block-title target" role="button" aria-pressed="false">{{ fields.accordion_title }}</h4>
	<div class="accordion-content" role="region" aria-expanded="false">
		{{ fields.accordion_content }}
	</div>
</section>