<div class="board-members">
	
{# 	<h2>Governing Board</h2> #}
	<div class="board-members__grid">
		{% for post in governing_board %}
			<a class="board-members__grid--member" href="{{ post.link }}">
				{% if post.thumbnail %}<div class="image" style="background-image: url('{{ TimberImage( post.thumbnail ).src }}');"></div>{% endif %}
				<h4>{{ post.terms('board-tax') | join(', ') | replace({'Governing Board, ': ''}) }}</h4>
				<h3>{{ post.title | replace({ ' ': '<br>' }) }}</h3>
				{% for company in post.get_field('companies') %}
					<p>{{ company.company }}</p>
				{% endfor %}
			</a>
		{% endfor %}
{#
	</div>

	<h2 id="advisory-board">Advisory Board</h2>
	<div class="board-members__grid">
#}
		{% for post in advisory_board %}
			<a class="board-members__grid--member" href="{{ post.link }}">
				<div class="image"{% if post.thumbnail %} style="background-image: url('{{ TimberImage( post.thumbnail ).src }}');"{% endif %}></div>
				<h4>Advisory Board</h4>
				<h3>{{ post.title | replace({ ' ': '<br>' }) }}</h3>
				{% for company in post.get_field('companies') %}
					<p>{{ company.company }}</p>
				{% endfor %}
			</a>
		{% endfor %}
	</div>
	
</div>