
<section class="sponsors">
	<h4 class="cyan">Flagship Sponsors</h4>
	
	{% set count = 1 %}
	
	{% for term in sponsor_terms if not term is empty %}
		<div class="sponsors--row">
			{% for post in term.posts %}
				<a class="logo-{{count}}" href="{{ post.sponsor_link }}" target="_blank" rel="noopener">
					<img src="{{ TimberImage( post.thumbnail ).src }}" alt="{{ TimberImage( post.thumbnail ).alt }}" />
				</a>
				{% set count = count + 1 %}
			{% endfor %}
		</div>
	{% endfor %}

</section>