{# Block Name: Strategy Block #}

{% set group_a = fn('get_field', 'awareness_group') %}
{% set group_b = fn('get_field', 'education_group') %}
{% set group_c = fn('get_field', 'workforce_group') %}

<section class="strategy-block">
	{% if fields.main_strategy_header %}<h1>{{ fields.main_strategy_header }}</h1>{% endif %}
	<div class="strategy-block__container">
		<div class="strategy-block__container--section">
			{% include 'static/images/awareness_gold.svg' %}
			<h4>Area 01</h4>
			<h3>Awareness</h3>
			<p>Getting the word out about tech in Kansas.</p>
		</div>

		<div class="strategy-block__container--section">
			{% include 'static/images/education_gold.svg' %}
			<h4>Area 02</h4>
			<h3>Education</h3>
			<p>Growing the next generation of Kansas tech workers.</p>
		</div>

		<div class="strategy-block__container--section">
			{% include 'static/images/workforce_gold.svg' %}
			<h4>Area 03</h4>
			<h3>Workforce</h3>
			<p>Creating a Kansas where tech talent is happy to be.</p>
		</div>
	</div>

	{% if fields.cta_button.url %}<div class="button-container">
		<a class="editor-button-block--blue" href="{{ fields.cta_button.url }}">{{ fields.cta_button_text }}</a>
	</div>{% endif %}
</section>