{# Block Name: Video Stories #}
<section class="stories">
	<div class="stories--shift-wrap">
		{% for video in fields.videos %}
			{% if loop.index is odd %}
				<div class="video-wrapper odd">
					<h3>Video Title / Company</h3>
					<video preload="metdata" controls playsinline>
						<source src="{{ video.video_story }}" type="video/mp4">
					</video>
				</div>
			{% elseif loop.index is even %}
				<div class="video-wrapper even">
					<h3>Video Title / Company</h3>
					<video preload="metdata" controls playsinline>
						<source src="{{ video.video_story }}" type="video/mp4">
					</video>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</section>