.gform_wrapper {
	font-family: $font-body;
	max-width: 33.5rem;

	h2 { margin-bottom: 0; }

	label, input, textarea, select {
		color: $dark-blue;
	}

	input, textarea, select {
		border: 2px solid $dark-blue;
		background-color: $white;
		border-radius: 5px;
		padding: 15px;
	}

	select { font-weight: 600; }

	.gfield_description {
		color: $blue;
		font-weight: 500;
	}

	span.gfield_required_text { display: none; }

	// quantity field instruction label
	#gfield_instruction_1_4 { display: none; }

	.ginput_total {
		font-weight: 500;
		letter-spacing: 1px;
	}

	// main field group containers
	.gfield { margin-bottom: 1.5rem; }

	.gform_button {
		display: inline-block;
		font-family: $font-body;
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
		line-height: 1.2;
		border-width: 0;
		border-radius: 25px;
		padding: 0.75rem 2rem;
		text-transform: uppercase;
		text-decoration: none !important;
		letter-spacing: 1px;
		transition: background 0.3s;
		
		color: #fff;
		background: $blue;
		
		&:hover {
			background: #fff;
		}
/*
		font-family: $font-head;
		font-size: 1.1rem;
		color: $dark-blue;
		font-weight: 900;
		background: unset;
		padding: 0.5rem 1.25rem;
		border: none;
		border-radius: 25px;
		background-color: $yellow;
		transition: 0.1s ease-out;
		line-height: 1.2;

		&:hover {
			cursor: pointer;
			background-color: $blue;
			color: $white;
			transition: 0.1s ease-out;
		}
*/
	}

	.validation_message {
		border-color: $red !important;
		border-width: 2px !important;
		color: $red !important;
		border-radius: 7px;
		font-weight: bold;
	}

	.ginput_stripe_creditcard .ginput_full {
		margin-bottom: 1rem !important;
	}

	// CC field description
	#input_5_6_1_label,
	#input_5_6_5_label { display: none !important; }
	
	&.gravity-theme .ginput_total {
		font-size: 2rem;
		color: $dark-blue !important;
	}
}

.gform_wrapper.gravity-theme input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
	// line-height: 1.2 !important;
}

// Contact page form tweaks
#gform_wrapper_7 {
	margin-top: 2.5rem;

	.gfield {
		margin-bottom: 0.5rem;
	}
	#field_7_7 {
		margin-bottom: 0;
	}
}