// alert banner at top of page
.notice-banner {
	position: absolute;
	background-color: $blue;
	padding: 1.25rem 2rem;
	max-width: 100%;
	z-index: 250;
	@include bp(961px) { position: relative; }

	// close-notice button styles in [_utilities.scss]

	p {
		color: $white;
		margin-bottom: 0;
		font-size: 1rem;
		font-weight: bold;
		margin-right: 2rem;
	}
}