.social-icon-component {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 50rem;
	margin: 0 auto;
	padding: 1rem;

	.icon {
		max-width: 2.5rem;
		width: 100%;
		&:last-of-type { width: unset; } // prevents overflow on last item

		.fab {
			width: 1.5rem;
			color: $light-black;
			font-size: 1.5rem;
			&:hover { color: rgba($light-black, 0.7); }
		}
	}
}