{% extends 'base.twig' %}

{% block content %}
<div class="content-wrapper">
	<h3>{{ options.not_found_message }}</h3>
	<img src="{{ TimberImage( options.not_found_image ).src }}" alt="{{ TimberImage( not_found_image ).alt }}" />
</div>
{% endblock %}