<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ options.google_search_description }}">
		<title>{{ post.title }} | {{ site.name }}</title>
		{{ function('wp_head') }}
		<link rel="stylesheet" href="https://use.typekit.net/zol0bfj.css">
	</head>

	<body data-template="base.twig" class="{{ body_class }}">

		{% if options.enable_banner %}
			<div class="notice-banner">
				<button class="close-notice">&times;</button>
				<p>{{ options.banner_text }}</p>
			</div>
		{% endif %}

		<div class="nav-module">
			{% include 'navigation.twig' %}
		</div>

		{% if not is_front_page and not fn('is_page', 281) %}
			<header class="default-header">
				<img class="header-side-rings" src="{{ theme.link }}/static/images/header-side-ring.svg" alt="Flagship Kansas Tech - Rings" />
				<div class="cyan-bar"></div>
				<div class="split-header">
					<div class="text-content">
						<div>
							{% if fn('is_single') or fn('get_post_type', 'board') %}{# fn('is_page', 281) or #}
							
								{% block news_head_text %}{% endblock %}
								
							{% elseif fn('is_page', 283) %}
							
								<h4 class="cyan">{{ post.title }}</h4>
								<h2>{{ post.page_header_text }}</h2>
								<p>{{ post.page_intro_text }}</p>
								
							{% else %}
							
								<h4 class="cyan">{{ post.title }}</h4>
								<h2 class="default-header-text">{{ post.page_header_text }}</h2>
								
							{% endif %}
						</div>
					</div>
					<div class="image-content" style="background-image: url('{{ TimberImage( post.thumbnail ).src }}');"></div>
				</div>

				{% if fn('is_page', 283) %}
					<div class="filter-bar">
						<div class="filter-bar__filters">
							<div class="filter search">
								{{ '[facetwp facet="jobs_search"]'|shortcodes }}
							</div>
							<div class="filter radius">
								{{ '[facetwp facet="jobs_radius_search"]'|shortcodes }}
							</div>
						</div>
					</div>
				{% endif %}
			</header>
		{% endif %}

		<section class="main-post-wrapper" role="main">
			{% block content %}{% endblock %}
		</section>

		{% include 'footer.twig' %}
		{% include 'external-scripts.twig' %}
		{{ function('wp_footer') }}
	</body>
</html>