{% extends 'base.twig' %}

{% block content %}
	<section class="forum-wrapper" role="region">
		{#  Use collab-forum.php to edit any forum related functions - this just renders the forum #}
		{{ fn('do_shortcode', '[bbp-forum-index]') }}
	</section>
{% endblock %}