{% set gmaps = 'https://www.google.com/maps/place/334+St+Francis+%23302,+Wichita,+KS+67202/@37.690894,-97.3334477,17z/data=!3m1!4b1!4m5!3m4!1s0x87bae3c094fdcc15:0xa8cd73b7dc9d0904!8m2!3d37.690894!4d-97.331259' %}

<footer id="footer" class="site-footer">
	<div class="footer-container">
		<div class="footer-container__left">
			<img src="{{ theme.link }}/static/images/logo-cyan.svg" alt="Flagship Kansas Tech" />
			<div>
				<a class="white semibold phone" href="tel:{{ options.phone }}">{{ options.phone }}</a>
				<a href="{{ gmaps }}" target="_blank"><address class="white">{{ options.address }}</address></a>
			</div>
		</div>
		<div class="footer-container__right">
			<nav class="footer-menu">
				{{ fn('mod_render_footer_menu') }}
			</nav>
			<span class="white">&copy; {{ date_year }} Kansas Tech Council, Inc.</span>
		</div>
	</div>
</footer>