{% extends 'base.twig' %}

{% block content %}
<div class="home_page_special">
	<section class="section_top">
		<div class="logo"></div>
		<h1>We’re going all in<br>
			on Kansas tech.</h1>
		<a class="scroll_down_button" href="#scroll-down">Discover</a>
	</section>

	<div class="rings_outer" id="scroll-down"> <!-- container for sticky -->
		<div class="rings">
			<div class="rings_inner">
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 986 986.2" style="enable-background:new 0 0 986 986.2;" xml:space="preserve">
					<style type="text/css">
						.white_path {fill:#FFFFFF;}
						.gold_path {fill:#FFBC00;}
						.cyan_path {fill:#00C5EC;}
					</style>
					<g>
						<g> <!-- 4 -->
							<path class="gold_path" d="M345.6,345.5c-81.4,81.4-81.4,213.8,0,295.2l-25.6,25.6c-95.5-95.5-95.5-250.9,0-346.5L345.6,345.5z"/>
							<path class="gold_path" d="M738.1,493c0,65.4-25.5,127-71.8,173.2l-25.6-25.6c39.4-39.4,61.1-91.8,61.1-147.6
								c0-55.8-21.7-108.2-61.1-147.6l25.6-25.6C712.7,366.1,738.1,427.6,738.1,493z"/>
							<path class="cyan_path" d="M666.4,666.3c-95.5,95.5-250.9,95.5-346.5,0l25.6-25.6c81.4,81.4,213.8,81.4,295.2,0L666.4,666.3z"/>
							<path class="white_path" d="M666.4,319.8l-25.6,25.6c-52.3-52.3-129.4-73.1-201.1-54.2l-9.2-35.1C514.6,234,605,258.4,666.4,319.8z"/>
						</g>
						<g> <!-- 6 -->
							<path class="cyan_path" d="M211.2,621.5l-24.7,11.3c-32.4-70.9-39.1-151.6-18.9-227l26.3,7C175.3,482.2,181.5,556.3,211.2,621.5z"/>
							<path class="cyan_path" d="M413,792.3l-7,26.3c-49.4-13.2-94-36.8-132.5-69.9l17.7-20.6C326.6,758.5,367.5,780.1,413,792.3z"/>
							<path class="cyan_path" d="M830.2,493.1c0,28.8-3.7,58-11.5,87.2l-26.3-7c21.4-79.9,10.4-163.4-31-235.1S653.3,215.2,573.4,193.8l7-26.3
								C730.8,207.8,830.2,344.3,830.2,493.1z"/>
							<path class="white_path" d="M818.7,580.3c-23.3,87-79.1,159.6-157,204.6c-78,45-168.8,57-255.7,33.7l7-26.3c79.9,21.4,163.4,10.4,235.1-31
								S771,653.2,792.4,573.2L818.7,580.3z"/>
							<path class="gold_path" d="M462.7,184.6C335.1,197.3,227.1,289,193.9,412.9l-26.3-7C203.7,271.1,321.2,171.3,460,157.6L462.7,184.6z"/>
						</g>
						<g> <!-- 8 -->
							<path class="white_path" d="M601,895.7c-83.3,22.3-170,18.5-250.8-11c-78.9-28.9-146.5-80-195.4-147.9l14.7-10.6
								c96.2,133.6,267.8,194.7,426.8,152L601,895.7z"/>
							<path class="white_path" d="M895.8,385.2l-17.5,4.7c-14.9-55.8-41-106.4-77.5-150.6l14-11.5C852.9,273.9,880.2,326.9,895.8,385.2z"/>
							<path class="white_path" d="M691.1,126.2l-8.6,16C592.6,93.6,488.7,81.5,390,107.9l-4.7-17.5C488.5,62.8,597.1,75.5,691.1,126.2z"/>
							<path class="gold_path" d="M910.2,493.7c0,72.2-18.9,143.5-56,207.7C798.5,797.9,708.6,866.9,601,895.7l-4.7-17.5
								c102.9-27.6,188.9-93.5,242.1-185.8c53.3-92.2,67.4-199.7,39.8-302.5l17.5-4.7C905.4,421.1,910.2,457.5,910.2,493.7z"/>
							<path class="cyan_path" d="M390,107.9c-102.9,27.6-188.9,93.5-242.1,185.8C94.6,385.9,80.5,493.4,108,596.2l-17.5,4.7
								c-28.8-107.5-14-219.9,41.6-316.3c55.7-96.4,145.6-165.4,253.1-194.2L390,107.9z"/>
						</g>
						<g> <!-- 10 -->
							<path class="gold_path" d="M829.6,156.6l-6.4,6.4C735,74.9,617.8,26.3,493.2,26.3c-124.7,0-241.9,48.6-330,136.7l-6.4-6.4
							C246.6,66.7,366.1,17.2,493.2,17.2C620.3,17.2,739.7,66.7,829.6,156.6z"/>
							<path class="cyan_path" d="M163.1,823.1l-6.4,6.4c96,96,223.1,142.3,349.1,139l-0.2-9.1C382,962.7,257.3,917.2,163.1,823.1z"/>
							<path class="cyan_path" d="M952.8,616.4c10.8-40.3,16.2-81.8,16.2-123.3c0-38.8-4.7-77.6-14.1-115.4l-8.8,2.2
								c32.6,131,8.1,265.3-65.4,373.9l7.4,5C917.2,715.2,939.2,667.1,952.8,616.4z"/>
							<path class="white_path" d="M34,617.3c20.9,77.8,61.8,151.2,122.7,212.2l6.4-6.4C103.4,763.3,63.2,691.3,42.7,615L34,617.3z"/>
							<path class="white_path" d="M89.6,258.4c19.8-34.1,44.3-66.2,73.5-95.4l-6.4-6.4c-29.7,29.7-54.7,62.5-74.9,97.2L89.6,258.4z"/>
						</g>
					</g>
					<g>
						<g> <!-- 5 -->
							<path class="white_path" d="M363.5,717.7l-15.9,27.5C280.3,706.3,232.1,643.5,212,568.4c-20.1-75.1-9.8-153.6,29.1-220.9l27.5,15.9
								c-34.6,60-43.8,129.9-25.9,196.8C260.6,627.1,303.5,683,363.5,717.7z"/>
							<path class="white_path" d="M783.2,518.8c-3.7,42.4-16.5,82.7-37.9,119.8l-27.5-15.9c19.1-33.1,30.5-69,33.8-106.7L783.2,518.8z"/>
							<path class="white_path" d="M762,381.4l-29.3,12.1c-22-53.1-60-96.4-109.9-125.2l15.9-27.5C694.7,273.3,737.4,321.9,762,381.4z"/>
							<path class="gold_path" d="M745.3,638.6c-80.3,139-258.6,186.8-397.7,106.6l15.9-27.5c60,34.6,129.9,43.8,196.8,25.9
								c66.9-17.9,122.9-60.8,157.5-120.9L745.3,638.6z"/>
							<path class="cyan_path" d="M638.7,240.9l-15.9,27.5c-60-34.6-129.9-43.8-196.8-25.9c-66.9,17.9-122.9,60.9-157.5,120.9l-27.5-15.9
								C321.3,208.5,499.7,160.7,638.7,240.9z"/>
						</g>
						<g> <!-- 7 -->
							<path class="gold_path" d="M493.2,847.7v22.7c-208,0-377.3-169.2-377.3-377.3l22.7,0C138.6,688.6,297.6,847.7,493.2,847.7z"/>
							<path class="gold_path" d="M870.4,493h-22.7c0-195.5-159.1-354.6-354.6-354.6v-22.7C701.2,115.8,870.4,285,870.4,493z"/>
							<path class="cyan_path" d="M836.7,649.1c-45.9,101-133.3,176.3-239.7,206.7l-6.2-21.8c100-28.6,182.1-99.4,225.3-194.3L836.7,649.1z"/>
							<path class="white_path" d="M493.2,115.8v22.7c-80.7,0-156.7,26.4-219.8,76.3L259.3,197C326.5,143.9,407.3,115.8,493.2,115.8z"/>
							<path class="white_path" d="M174.4,337.6c-23.7,48.6-35.8,100.9-35.8,155.4l-22.7,0c0-58,12.8-113.7,38.1-165.4L174.4,337.6z"/>
						</g>
						<g> <!-- 9 -->
							<path class="cyan_path" d="M883.7,267.6l-11.7,6.8C751.2,65.2,483.7-6.5,274.5,114.3l-6.8-11.8C483-21.8,759.4,52.2,883.7,267.6z"/>
							<path class="cyan_path" d="M718.6,883.6c-215.3,124.3-491.7,50.3-616-165.1l11.8-6.8C235,920.6,503,992.4,711.8,871.8L718.6,883.6z"/>
							<path class="gold_path" d="M132.8,245c-95,138.3-102.3,321.5-18.4,466.7l-11.8,6.8c-86.5-149.8-79-338.6,19-481.2L132.8,245z"/>
							<path class="white_path" d="M944.4,492.9c0,71.7-17.3,143.6-51.9,209.7l-12-6.3c70-133.7,66.8-291.4-8.5-422l11.8-6.8
								C924.1,337.6,944.4,415.2,944.4,492.9z"/>
						</g>
						<g> <!-- 11 -->
							<path class="white_path" d="M739.6,66.1l-2.3,3.9C650.6,20,552.2-2.1,452.7,6.3C355.5,14.4,264,50.8,188.1,111.4l-2.8-3.5
								C261.9,46.7,354.2,10,452.3,1.7C552.7-6.7,652.1,15.6,739.6,66.1z"/>
							<path class="gold_path" d="M893.5,213.3l3.7-2.6c-40-57.5-93-107.3-157.6-144.6l-2.3,3.9C801.4,107,853.8,156.3,893.5,213.3z"/>
							<path class="gold_path" d="M981.5,493.1c0.1,83.1-20.9,167.2-65.3,244.2l3.9,2.3c44.7-77.4,65.9-162.1,65.9-245.6c0-0.3,0-0.5,0-0.8
								H981.5z"/>
							<path class="white_path" d="M21.4,619.5c-33.8-126-16.4-257.6,48.8-370.6l-3.9-2.3C0.4,360.6-17.1,493.4,17,620.6
								c6.6,24.6,15,48.5,25,71.4l4.1-1.8C36.2,667.5,27.9,643.9,21.4,619.5z"/>
							<path class="white_path" d="M916.2,737.3c-65.2,113-170.6,193.8-296.6,227.6c-78.1,20.9-158.3,22.2-234.9,4.7l-1,4.4
								c77.3,17.7,158.3,16.4,237.1-4.7c127.2-34.1,233.5-115.6,299.3-229.7L916.2,737.3z"/>
							<path class="white_path" d="M249,916l-2.3,3.9c43.4,25.1,89.5,43.1,137,54l1-4.4C337.6,958.7,291.9,940.9,249,916z"/>
						</g>
					</g>
				</svg>
			</div>
		</div>

		<section class="section_b">
			<div class="text">
				<p class="medium">
					We’re ordinary Kansans.<br>
					We’ve always been in the middle.<br>
					When it comes to tech, it has pushed us,<br>
					helped us, even scared us.
				</p>
				<p class="medium">
					<strong>The future isn’t waiting around.</strong>
				</p>
				<p class="medium">
					As Flagship, we’re getting out front.
				</p>
			</div>
		</section>
		
		<div class="strategy_outer">
			<div class="strategy">
				<section class="awareness">
					<div class="icon"></div><div class="text">
						<h5>Area 01</h5>
						<h2>Awareness</h2>
						<p class="medium">
							Getting the word out about<br>
							tech in Kansas.
						</p>
						<div class="button_outer">
							<a class="button" href="{{ site.link }}/about#awareness">Learn More</a>
						</div>
					</div>
				</section><section class="education">
					<div class="icon"></div><div class="text">
						<h5>Area 02</h5>
						<h2>Education</h2>
						<p class="medium">
							Growing the next generation<br>
							of Kansas tech workers.
						</p>
						<div class="button_outer">
							<a class="button" href="{{ site.link }}/about#education">Learn More</a>
						</div>
					</div>
				</section><section class="workforce">
					<div class="icon"></div><div class="text">
						<h5>Area 03</h5>
						<h2>Workforce</h2>
						<p class="medium">
							Creating a Kansas where<br>
							tech talent is happy to be.
						</p>
						<div class="button_outer">
							<a class="button" href="{{ site.link }}/about#workforce">Learn More</a>
						</div>
					</div>
				</section>
			</div>
			<div class="scroll_section"></div>
			<div class="scroll_section"></div>
			<div class="scroll_section"></div>
		</div>

		<section class="section_c">
			<div class="text">
				<h2>We’re taking action. </h2>
				<p class="medium">
					Now. Today. <strong>It’s already well underway.</strong><br>
					Kansas companies are growing amazing tech<br>
					in the Sunflower State.
				</p>
			</div>
		</section>

		<section class="section_videos">
			<div class="video_outer left">
				<div class="video not_played">
					<video id="lawn_buddy_video" loop muted playsinline autoplay>
						<source src="{{ site.link }}/wp-content/uploads/2021/08/lawn_buddy.mp4.mp4" type="video/mp4">
					</video>

					<div class="waves">
						<div class="a"></div><div class="b"></div><div class="c"></div>
					</div>
					<div class="play_pause"></div>
					<div class="replay"></div>

				</div><div class="text">
					<h3>Improving lawncare<br>
						with software.</h3>
					<p>
						Lawn Buddy
					</p>
				</div>
			</div>

			<div class="video_outer right">
				<div class="video not_played">
					<video id="concergentit_video" loop muted playsinline autoplay>
						<source src="{{ site.link }}/wp-content/uploads/2021/08/concergentit.mp4.mp4" type="video/mp4">
					</video>

					<div class="waves">
						<div class="a"></div><div class="b"></div><div class="c"></div>
					</div>
					<div class="play_pause"></div>
					<div class="replay"></div>

				</div><div class="text">
					<h3>Advocating for the<br>
						future of Kansas tech.</h3>
					<p>
						ConcergentIT
					</p>
				</div>
			</div>

			<div class="video_outer left">
				<div class="video not_played">
					<video id="goodwill_video" loop muted playsinline autoplay>
						<source src="{{ site.link }}/wp-content/uploads/2021/08/goodwill.mp4.mp4" type="video/mp4">
					</video>

					<div class="waves">
						<div class="a"></div><div class="b"></div><div class="c"></div>
					</div>
					<div class="play_pause"></div>
					<div class="replay"></div>

				</div><div class="text">
					<h3>Bringing digital skills<br>
						training to Kansas.</h3>
					<p>
						Goodwill Industries of Kansas
					</p>
				</div>
			</div>
		</section>
		
	</div> <!-- end of .rings_outer -->
</div> <!-- end of .home_page_special -->

<section class="sponsors">
	<h4 class="cyan">Flagship Sponsors</h4>
	{% set count = 1 %}
	{% for term in sponsor_terms if not term is empty %}
		<div class="sponsors--row">
			{% for post in term.posts %}
				<a class="logo-{{count}}" href="{{ post.sponsor_link }}" target="_blank" rel="noopener">
					<img src="{{ TimberImage( post.thumbnail ).src }}" alt="{{ TimberImage( post.thumbnail ).alt }}" />
				</a>
				{% set count = count + 1 %}
			{% endfor %}
		</div>
	{% endfor %}

	<div class="sponsors--cta">
		<p>{{ post. sponsor_section_info }}</p>
		<a class="editor-button-block--yellow" href="{{ post.sponsor_section_button_link }}">{{ post.sponsor_section_button_text }}</a>
	</div>
</section>

<section class="full-width-block" style="background-image: url('{{ theme.link }}/static/images/block-rings.svg');">
	<div class="full-width-block__content">
		<h3>{{ post.cta_headline }}</h3>
		<div class="middle">
			<p>{{ post.cta_info }}</p>
			<a class="editor-button-block--yellow-b" href="{{ post.cta_button_link }}">{{ post.cta_button_text }}</a>
		</div>
	</div>
</section>
{% endblock %}