{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<section class="facetwp-template">
		<div class="job-results">
			<div class="job-results--result-count">
				{{ fn('do_shortcode', '[facetwp facet="job_result_count"]') }}
			</div>
			<section class="job-results--jobs-list">
				{% for job in job_posts %}
					<article class="single-job">
						<a class="job-link" href="{{ job.job_url }}" target="_blank" rel="noopener">{{ job.title }}</a>
						<p class="job-employer">{{ job.employer }} &nbsp;|&nbsp; {{ job.location }}</p>
						<p class="job-description">{{ job.job_description|length > 150 ? job.job_description|slice(0, 150) ~ '...' : job.job_description }}</p>
					</article>
					<br/>
				{% endfor %}
			</section>
		</div>
	</section>

	<div class="center">{{ '[facetwp pager="true"]'|shortcodes }}</div>

	<section class="facetwp-empty-loading">
		<span class="fas fa-search"></span>
		<p>Type a keyword above to find job opportunities in your area.</p>
	</section>
</div>
{% endblock %}