{% block navigation %}
<div class="nav-wrapper">
	{% if is_front_page %}
		<a class="logo-desktop" href="/"><img class="site-logo" src="{{ theme.link }}/static/images/logo-dark.svg" alt="Flagship Kansas Tech" /></a>
		<a class="logo-mobile" href="/"><img class="site-logo-m" src="{{ theme.link }}/static/images/horizontal-logo.svg" alt="Flagship Kansas Tech" /></a>
	{% else %}
		<a class="logo-desktop" href="/"><img class="site-logo" src="{{ theme.link }}/static/images/logo-white.svg" alt="Flagship Kansas Tech" /></a>
		<a class="logo-mobile" href="/"><img class="site-logo-m" src="{{ theme.link }}/static/images/horizontal-logo.svg" alt="Flagship Kansas Tech" /></a>
	{% endif %}

	<div id="menu-toggle" role="button" aria-label="Open Menu">
		<span class="x-bar" aria-hidden="true"></span>
		<span class="x-bar" aria-hidden="true"></span>
		<span class="x-bar" aria-hidden="true"></span>
	</div>

	<div class="nav-container">
		<nav class="menu">
			{{ fn('mod_render_primary_menu') }}
		</nav>
	</div>
</div>

{# full page overlay nav - slides left to right #}
<div class="mobile-nav-wrapper">
	<div class="mobile-nav-container">
		<nav class="mobile-menu">{{ fn('mod_render_primary_menu') }}</nav>
		<div class="bottom-nav">{{ fn('mod_render_footer_menu') }}</div>
	</div>
</div>
{% endblock %}