{% extends 'base.twig' %}

{% block news_head_text %}
	<h4 class="cyan" style="padding-top: 3rem;">Latest Article</h4>
	{% set count = 1 %}
	{% for n_post in news_posts %}
		{% if count == 1 %}
			<h3 class="latest-news-title">{{ n_post.title }}</h3>
			<h4 class="cyan">{{ n_post.date }}</h4>
			<div style="margin-top: 2rem; padding-bottom: 3rem;">{{ n_post.content|truncate(18) }}</div>
		{% endif %}
		{% set count = count + 1 %}
	{% endfor %}
{% endblock %}

{% block content %}
<div class="content-block">

{# 	<h1>News</h1> #}

	<section class="news-list">
		<div class="facetwp-template visible">
			<a id="top" href="#top"></a>
			{% set count = 1 %}
			{% for n_post in news_posts %}

				{% if count >= 2 and '?' not in get_url %}
					<article class="news-post">
						<img src="{{ TimberImage( n_post.thumbnail ).src }}" alt="{{ TimberImage( n_post.thumbnail ).alt }}" />
						<div>
							<a class="news-title-link" href="{{ n_post.link }}">{{ n_post.title }}</a>
							<h4 class="cyan" style="text-align: left;">{{ n_post.date }}</h4>
							<p>{{ n_post.content|truncate(18) }}</p>
						</div>
					</article>
				{% elseif count >= 1  and '?' in get_url %}
					<article class="news-post">
						<img src="{{ TimberImage( n_post.thumbnail ).src }}" alt="{{ TimberImage( n_post.thumbnail ).alt }}" />
						<div>
							<a class="news-title-link" href="{{ n_post.link }}">{{ n_post.title }}</a>
							<h4 class="cyan" style="text-align: left;">{{ n_post.date }}</h4>
							<p>{{ n_post.content|truncate(18) }}</p>
						</div>
					</article>
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</div>
		<div class="filter-list">
			<h4 class="cyan">Categories</h4>
			{{ '[facetwp facet="news_filter"]'|shortcodes }}
		</div>
	</section>
</div>
{% endblock %}