{% extends 'base.twig' %}

{% block content %}
<div class="content-block-default">
	{{ post.content }}
</div>

{% if fn('is_page', 354) %}{# if is Stories page #}
	
	<section class="section_videos">
		<div class="video_outer left">
			<div class="video not_played">
				<video id="lawn_buddy_video" loop muted playsinline autoplay>
					<source src="{{ site.link }}/wp-content/uploads/2021/08/lawn_buddy.mp4.mp4" type="video/mp4">
				</video>

				<div class="waves">
					<div class="a"></div><div class="b"></div><div class="c"></div>
				</div>
				<div class="play_pause"></div>
				<div class="replay"></div>

			</div><div class="text">
				<h3>Improving lawncare<br>
					with software.</h3>
				<p>
					Lawn Buddy
				</p>
			</div>
		</div>

		<div class="video_outer right">
			<div class="video not_played">
				<video id="concergentit_video" loop muted playsinline autoplay>
					<source src="{{ site.link }}/wp-content/uploads/2021/08/concergentit.mp4.mp4" type="video/mp4">
				</video>

				<div class="waves">
					<div class="a"></div><div class="b"></div><div class="c"></div>
				</div>
				<div class="play_pause"></div>
				<div class="replay"></div>

			</div><div class="text">
				<h3>Advocating for the<br>
					future of Kansas tech.</h3>
				<p>
					ConcergentIT
				</p>
			</div>
		</div>

		<div class="video_outer left">
			<div class="video not_played">
				<video id="goodwill_video" loop muted playsinline autoplay>
					<source src="{{ site.link }}/wp-content/uploads/2021/08/goodwill.mp4.mp4" type="video/mp4">
				</video>

				<div class="waves">
					<div class="a"></div><div class="b"></div><div class="c"></div>
				</div>
				<div class="play_pause"></div>
				<div class="replay"></div>

			</div><div class="text">
				<h3>Bringing digital skills<br>
					training to Kansas.</h3>
				<p>
					Goodwill Industries of Kansas
				</p>
			</div>
		</div>

		<div class="video_outer right">
			<div class="video not_played">
				<video id="automation_plus_video" loop muted playsinline autoplay>
					<source src="{{ site.link }}/wp-content/uploads/2021/09/AUTOMATION-PLUS.mp4" type="video/mp4">
				</video>

				<div class="waves">
					<div class="a"></div><div class="b"></div><div class="c"></div>
				</div>
				<div class="play_pause"></div>
				<div class="replay"></div>

			</div><div class="text">
				<h3>Ready for the next<br>
					generation of talent.</h3>
				<p>
					Automation Plus
				</p>
			</div>
		</div>

		<div class="video_outer left">
			<div class="video not_played">
				<video id="smash_dev_video" loop muted playsinline autoplay>
					<source src="{{ site.link }}/wp-content/uploads/2021/09/SMASH-DEV.mp4" type="video/mp4">
				</video>

				<div class="waves">
					<div class="a"></div><div class="b"></div><div class="c"></div>
				</div>
				<div class="play_pause"></div>
				<div class="replay"></div>

			</div><div class="text">
				<h3>Moving toward greater<br>
					growth potential.</h3>
				<p>
					SmashDev
				</p>
			</div>
		</div>
	</section>
	
	<section class="full-width-block" style="background-image: url('{{ theme.link }}/static/images/block-rings.svg');">
		<div class="full-width-block__content">
			<h3>{{ post.cta_headline }}</h3>
			<div class="middle">
				<p>{{ post.cta_info }}</p>
				<a class="editor-button-block--yellow-b" href="{{ post.cta_button_link.url }}">{{ post.cta_button_text }}</a>
			</div>
		</div>
	</section>
{% endif %}

{% endblock %}