{% extends 'base.twig' %}

{% block news_head_text %}
	<h4 class="cyan" style="padding-top: 3rem;">Article</h4>
	<h3 class="latest-news-title">{{ post.title }}</h3>
	<h4 class="cyan" style="padding-bottom: 3rem;">{{ post.date }}</h4>
{% endblock %}

{% block content %}
<article class="news-content-block">
	{{ post.content }}
</article>
{% endblock %}