{% extends 'base.twig' %}

{% block news_head_text %}

<h4 class="cyan">Board {{ post.terms('board-tax') | join(', ') | replace({'Governing Board, ':''}) }}</h4>
<h2>{{ post.title | replace({ ' ': '<br>' }) }}</h2>

{% endblock %}

{% block content %}

<div class="content-block-default">
	
	{{ post.content }}
	
</div>

{% endblock %}