.board-members {
    margin: 5rem 0;
	position: relative;
    left: 50%;
    width: 100vw;
    margin: 5rem -50vw;
    padding: 5rem 10rem;
	
	h2 {
		text-align: center;
		margin-top: 0 !important;
		margin-bottom: 10rem !important;
		
		&:not(:first-child) {
			margin-top: 10rem !important;
		}
	}
	&__grid {
		display: grid;
		// max-width: 100%;
		// margin: 0 auto 3rem;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, 21.25%); // 30%);
		row-gap: 10rem;
		column-gap: 5%;
		
		&--member { // a
			text-align: left;
			width: 100%;
			
			.image {
				// max-width: 12rem;
				width: 66.667%; // 50%;
				padding-top: 66.667%;
				// height: 14rem;
				// margin: 0 auto 1rem;
				background-color: #f2f2f2;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 50%; // top
			}
			h4 {
				color: $cyan;
				margin-top: 3rem;
				margin-bottom: 0.6rem;
				// margin-bottom: 0;
				text-align: inherit;
			}
			h3 {
				margin-top: 0 !important;
				margin-bottom: 0.5rem !important;
				text-align: inherit;
			}
			p {
				font-size: 1rem;
				margin-bottom: 0;
			}
		}
	}
	&__list {
		&--member { // a
			text-align: left;
			width: 100%;
			
			h3 {
				margin-top: 0 !important;
				margin-bottom: 0.5rem !important;
				text-align: inherit;
			}
			p {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
		}
	}
}