#footer {
	max-width: 100%;
	margin: 0 auto;
	padding: 5rem; //  2.5rem;
	background-color: $dark-blue;
}
.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// max-width: 80rem;
	margin: 0 auto;
	width: 100%;
	align-items: center;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 28rem;
		width: 100%;
		text-align: center;

		@include bp(xs) {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}

		img {
			display: inine-block;
			max-width: 9rem;
			margin-bottom: 3rem;
			@include bp(xs) { margin-bottom: 0; }
		}

		.phone {
			font-family: $font-head;
			align-content: flex-start;
			display: inline-block;
			font-size: 1.5rem;
			margin-bottom: 0.75rem;
			letter-spacing: 0.05em;
			font-weight: 800;
		}

		address {
			font-style: normal;
			font-weight: 600;
			font-size: 0.875rem;
			line-height: 1.6;
		}

		a, a address {
			transition: 0.2s ease-out;

			&:hover {
				color: $yellow;
				transition: 0.2s ease-out;
			}
		}
	}

	&__right {
		max-width: 15rem;
		width: 100%;
		margin-top: 3rem;
		@include bp(sm) { margin-top: 0; }

		.menu {
			// display: flex;
			max-width: 18rem;
			// justify-content: space-between;
			// align-items: center;
			text-align: right;

			li {
				display: inline-block;
				
				+ li {
					margin-left: 30px;
				}
			}
			a {
				font-size: 1.1rem;
				color: $white;
				font-weight: 700;
				border-radius: 25px;
				
				&:hover {
					color: $yellow;
				}
			}
		}

		span {
			opacity: 0.5;
			display: block;
			text-align: center;
			font-size: 0.75rem;
			letter-spacing: 0.05em;
			font-weight: 500;
			margin-top: 2rem;
			@include bp(sm) { text-align: right; }
		}
	}
}