// forum template page styles //
.forum-wrapper {
	max-width: 75rem;
	padding: 1rem 2.5rem;
	margin: 5rem auto;
}

// bbpress forum style overrides //

// make buttons easier to see
#bbp_topic_submit, .user-submit {
	font-family: $font-body;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.5rem 1.25rem;
	border: 1px solid $dark-blue;
	background-color: $blue;
	color: $white;
	letter-spacing: 1px;

	&:hover {
		cursor: pointer;
		background-color: $dark-blue;
	}
}

// remove redundant counting
.bbp-pagination-count { display: none; }