// Theme colors

$navy: #004cda;
$cyan: #00c5ec;
$gold: #ffbc00;
$navy_dark: #003891;

// Theme fonts

$heading_font: axia, sans-serif;
$paragraph_font: montserrat, sans-serif;

// Shorthand easing functions

$easeCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInCubic: cubic-bezier(0.32, 0, 0.67, 0);

// Mixins

@mixin button() {
	color: #fff;
	font-family: $paragraph_font;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	line-height: 50px;
	padding: 0 40px;
	background: $navy_dark;
	border-radius: 100px;
	transition: background 0.3s, opacity 0.3s, color 0.3s;
	cursor: pointer;
	
	&:hover {
		background: $gold;
	}
}

// Responsive mixins

@mixin phone( $less: true ) {
	@include respond_at_width(600px, $less) {
		@content;
	}
}
@mixin mobile( $less: true ) {
	@include respond_at_width(900px, $less) {
		@content;
	}
}
@mixin mobile_menu( $less: true ) {
	@include respond_at_width(1000px, $less) {
		@content;
	}
}
@mixin laptop( $less: true ) {
	@include respond_at_width(1200px, $less) {
		@content;
	}
}
@mixin desktop( $less: true ) {
	@include respond_at_width(1800px, $less) {
		@content;
	}
}
@mixin respond_at_width($break, $less) {
	$query: 'max-width: ' + $break;
	@if $less == false {
		$query: 'min-width: ' + ($break + 1px);
	}
	@media ( #{$query} ) {
		@content;
	}
}

// Animations

@keyframes spin {
	0% {
		transform: rotate(0deg) translateZ(0);
	}
	100% {
		transform: rotate(360deg) translateZ(0);
	}
}


// Styles

html {
	overflow: visible;
	
    @include phone(false) {
    	scroll-snap-type: y proximity;
    }
}
html, body.home {
	position: relative;	
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	// overflow: hidden;
}
body.home {
	background: $navy;
	.main-post-wrapper { padding: 0; }

	// home navigation styles
	.nav-module { height: 0; }

	.nav-wrapper {
		position: absolute;
		z-index: 9999;
		background: transparent;
		// padding: 0.5rem 1.5rem;
	}

	.logo-desktop:before {
		content: none;
	}

	.site-logo {
		opacity: 0;
	}

	.site-logo-m { display: none; }

	#primary-menu > li > a {
		color: $white;
		
		&:hover {
			color: $yellow;
		}
	}

	#primary-menu > .menu-item:last-child > a:hover {
		background-color: $dark-blue !important;
	}

	#menu-toggle .x-bar {
		background-color: $white;
		&:hover { background-color: $white; }
	}
	.sponsors {
		padding-top: 8rem;
		padding-bottom: 8rem;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
body.home .home_page_special {
	
		
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-family: $heading_font;
		font-weight: 800;
		margin-bottom: 50px;
		line-height: 1;
	}
	h2, h3 {
		letter-spacing: 0.025em;
	}
	p, ul, ol {
		color: inherit;
		font-family: $paragraph_font;
		line-height: 1.5;
		font-weight: 500;
		
		&.medium {
			font-size: 1.5em;
			
			@include phone() {
				font-size: 1.25em;
			}
			strong {
				color: $gold;
				font-weight: 600;
			}
		}
	}
	.rings_outer {
		// position: relative;
		// overflow: hidden;
	}
	.rings {
		position: sticky;
		top: 0;
		height: 200vh;
		width: 100vw;
		overflow: hidden;
		margin-bottom: -200vh;
	    transform: translateY(-100vh);
		// box-shadow: inset 0 0 0 40px red; // :)
	
		.rings_inner {
			position: absolute;
			top: calc(100vh - 300px);
			left: calc(50vw - 50vh - 300px);
			width: calc(100vh + 600px);
			height: auto;
			transform-origin: 50% 50%;
			transition: transform $easeOutCubic 1s;
		}
		svg {
			width: 100%;
			height: auto;
			transform-origin: 50% 50%;
			
			g {
				transform-origin: 50% 50%;
				transform: translateZ(0);
				will-change: transform;
				// shape-rendering: optimizeSpeed;
			}
			> g {
				
				> g {
					
					@include phone(false) {
						animation: spin 60s linear forwards infinite;
						// animation: pulse 3s $easeCirc forwards infinite;
					}
				}
				@for $i from 1 through 10 {
					&:nth-child(#{$i}) {
						animation-delay: -#{$i / 20}s;
					}
				}
				&:nth-child(even) > g {
					// @include phone(false) {
					animation-direction: reverse;
					// }
				}
			}
		}
		&.animate_exit .rings_inner {
			transform: scale(3.333);
			transition: transform $easeInCubic 1s;
		}
	}
	section {
		position: relative;
		text-align: center;
		font-family: sans-serif;
		color: #fff;
		padding: 60px 50px;
		box-sizing: border-box;
		
		.text {
			max-width: 800px;
			margin: 0 auto;
		}
		.scroll_down_button {
			position: fixed;
			z-index: 1;
			left: 50%;
			bottom: 50px;
			transform: translateX(-50%);
			@include button();
			margin: 0;
			
			@include phone() {
				padding: 0 30px;
			}

			&.hidden {
				opacity: 0;
				pointer-events: none;
			}
		}
		h2 {
			width: 100%;
			font-size: 80px;
			
			@include mobile() {
				font-size: 65px;
			}
			@include phone() {
				font-size: 50px;
			}
		}
		h3 {
			width: 100%;
			font-size: 40px;
			line-height: 1.2;
			
			@include mobile() {
				font-size: 35px;
			}
			@include phone() {
				font-size: 30px;
			}
		}
		h5 {
			color: $cyan;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1em;
			font-size: 1em;
			
			@include phone() {
				font-size: 0.8em;
				letter-spacing: 0.15em;
			}
		}
		p {
			br {
				@include phone() {
					display: none;
				}
			}
		}
		&.section_top {
			display: flex;
			align-items: center;
			width: 100%;
			min-height: 100vh;
			scroll-snap-align: start;
			padding-top: 153px + 60px + 80px; // logo height + spacing
			padding-bottom: 300px + 80px;
			
			@include phone() {
				padding-top: 107px + 60px + 60px; // logo height + spacing
				padding-bottom: 300px + 60px;
			}
			.logo {
				position: absolute;
				top: 80px;
				left: calc(50% - 120px);
				width: 240px;
				height: 153px;
				background: url('static/images/logo-dark.svg') no-repeat 0 0 / contain;
				
				@include mobile() {
					top: 60px;
				}
				@include phone() {
					width: 168px;
					height: 107px;
					left: calc(50% - 84px);
				}
			}
			h1 {
				width: 100%;
				font-size: 120px;
				margin-bottom: 0;
				
				@include mobile() {
					font-size: 80px;
				}
				@include phone() {
					font-size: 56px;
				}
				br {
					@include phone() {
						display: none;
					}
				}
			}
		}
		&.section_b,
		&.section_c {
			scroll-snap-align: center;
		}
		&.section_b,
		&.section_c,
		&.section_e {
			width: 100%;
			height: 100vh;
			display: flex;
			align-items: center;
		}
		&.section_b {
			// height: 120vh;
			// padding-bottom: calc(20vh + 60px);
			
			p + p {
				margin-top: 30px;
			}
		}
		&.section_c {
			// background: $navy;
			// height: 80vh;
			// padding-bottom: calc(20vh + 60px);
		}
		&.section_videos {
			
		}
		&.section_e {
			background: #fff;
			color: $navy;
		}
	}
	section.section_videos {
		margin-top: -150px;
		
		@include laptop() {
			padding-left: 0;
			padding-right: 0;
		}
		.video_outer.right .video {
		
			@include mobile(false) {
				margin-left: 0 !important;
			}
		}
	}
	.strategy_outer {
		width: 100vw;
		// height: 300vh;
		
		.strategy {
			width: 100vw;
			
			@include phone(false) {
				float: left;
				margin-right: -100vw;
				position: sticky;
				top: 0;
				height: 100vh;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.scroll_section { // Helper for scroll-snap on desktop
			
			@include phone(false) {
				width: 100vw;
				height: 100vh;
				scroll-snap-align: center;
			}
		}
		section {
			width: 100vw;
			text-align: center;
			white-space: normal;
			
			@include phone(false) {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: 100vh;
			}
			@include phone() {
				scroll-snap-align: center;
				padding-top: 25vh;
				padding-bottom: 25vh;
			}
			.icon {
				margin: 0;
				width: 160px;
				height: 160px;
				background-size: contain;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				
				@include phone() {
					width: 100px;
					height: 100px;
					margin: 0 auto 30px auto;
				}
			}
			.text {
				
				@include phone(false) {
					width: 400px;
					margin: 0 0 0 60px;
					text-align: left;
					transform: translateY(45px);
					transition: transform 0.5s $easeCubic;
				}
				h5 {
					margin-bottom: 25px;
					
					@include phone() {
						margin-bottom: 20px;
					}
				}
				h2 {
					margin-bottom: 20px;
					
					@include phone() {
						margin-bottom: 15px;
					}
				}
				p {
					max-width: 360px;
					
					@include phone() {
						margin-left: auto;
						margin-right: auto;
					}
				}
				.button_outer {
					
					@include phone(false) {
						text-align: left;
						opacity: 0;
						transition: opacity 0.5s $easeCubic;
					}
					.button {
						display: inline-block;
						@include button();
						margin-top: 30px;
						
						@include phone() {
							margin-top: 0;
							color: $gold;
							background: transparent;
						}
						&:hover {
							color: #fff;
						}
					}
				}
				&:hover {
					transform: translateY(0);
					
					.button_outer {
						opacity: 1;
					}
				}
			}
			&.awareness .icon {
				background-image: url('static/images/awareness_gold.svg');
			}
			&.education .icon {
				background-image: url('static/images/education_gold.svg');
			}
			&.workforce .icon {
				background-image: url('static/images/workforce_gold.svg');
			}
		}
	}
}

.sponsors {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 2.25rem;
	background-color: $white;
	text-align: center;

	&:not(:first-child) {
		margin-top: 8rem;
	}
	&:not(:last-child) {
		margin-bottom: 8rem;
	}
	h4 {
		font-family: $font-body;
		text-transform: uppercase;
		letter-spacing: 2px;
		text-align: center;
	}

	&--row {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		margin: 3rem auto 1.5rem;
		&:first-of-type { max-width: 35rem; }
		&:nth-of-type(2) { max-width: 65rem; }

		.logo-1 { max-width: 12.2rem; }
		.logo-2 { max-width: 14.875rem; }
		.logo-3, .logo-4, .logo-5 { max-width: 11.375rem; }
		.logo-6 { max-width: 8.75rem; }
	}

	&--cta {
		max-width: 43rem;
		margin: 5rem auto 0;

		h1, p {
			color: $blue;
			margin-bottom: 2rem;
		}

		p {
			// color: inherit;
			// font-family: $paragraph_font;
			font-size: 1.5em;
			line-height: 1.5;
			font-weight: 500;
			letter-spacing: 0;
			
			@include phone() {
				font-size: 1.25em;
			}
			strong {
				// color: $gold;
				font-weight: 700;
			}
		}
		a {
			margin-bottom: 0 !important;
		}
	}
}

section.section_videos {
	height: auto;
	padding: 0 120px 240px 120px;
	text-align: left;
	overflow: hidden;
	
	@include laptop() {
		padding-left: 0;
		padding-right: 0;
	}
	.video_outer {
		position: relative;
		
		@include laptop() {
			padding-left: 0;
			padding-right: 0;
		}
		.video {
			position: relative;
			display: block;
			width: calc(100% - 60px);
			
			@include mobile(false) {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
			}
		}
		video {
			width: 100%;
			height: auto;
			
			@include phone() {
			    height: calc(100vw - 60px);
			    object-fit: cover;
			}
		}
		.text {
			text-align: left;
			padding: 0 60px;
			box-sizing: border-box;
			transition: transform $easeCubic 0.5s;
			
			@include mobile(false) {
				width: 50%;
				display: inline-block;
				vertical-align: middle;
			}
			@include mobile() {
				padding-top: 30px;
			}
		}
		h3 {
			margin-bottom: 10px;
			
			br {
				@include phone() {
					display: none;
				}
			}
		}
		p {
			letter-spacing: 0.025em;
		}
		.waves {
			position: absolute;
			top: 50%;
			left: 100%;
			width: 220px;
			height: 220px;
			overflow: hidden;
			// background: red;
			will-change: transform;
			transform: translate(-50%,-50%) rotate(45deg);
			pointer-events: none;
			
			.a, .b, .c {
				position: absolute;
				bottom: 0;
				left: 0;
				border: solid 30px $gold;
				border-color: $gold transparent transparent transparent;
				border-radius: 100%;
				transform: rotate(45deg);
				box-sizing: border-box;
				transition: transform $easeCubic 0.5s, border $easeCubic 0.5s;
			}
			.a {
				bottom: -100px;
				left: -100px;
				width: 200px;
				height: 200px;
				border-color: $cyan transparent transparent transparent;
				transition-delay: 0.2s;
			}
			.b {
				bottom: calc(-0.5 * (200px + 120px));
				left: calc(-0.5 * (200px + 120px));
				width: 200px + 120px;
				height: 200px + 120px;
				transform: rotate(136deg);
				transition-delay: 0.1s;
			}
			.c {
				bottom: calc(-0.5 * (200px + 120px + 120px));
				left: calc(-0.5 * (200px + 120px + 120px));
				width: 200px + 120px + 120px;
				height: 200px + 120px + 120px;
				transform: rotate(-46deg);
			}
		}
		.play_pause {
			position: absolute;
			display: flex;
			align-items: center;
			top: calc(50% - 50px);
			left: calc(100% - 170px);
			width: 100px;
			height: 100px;
			text-align: center;
			color: $gold;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1em;
			font-size: 1em;
			line-height: 1.4;
			opacity: 0;
			transform: translateX(-20px);
			transition: opacity 0.3s $easeCubic, transform 0.3s $easeCubic;
			pointer-events: none;
			
			@include phone() {
				font-size: 0.8em;
			}
			&:before {
				content: 'Play Video';
				
				@include mobile() {
					content: '';
				}
			}
		}
		.replay {
			position: absolute;
			display: flex;
			align-items: center;
			bottom: 0px;
			left: 0px;
			padding: 30px;
			// width: 100px;
			// height: 100px;
			// text-align: center;
			color: $navy;
			font-family: $paragraph_font;
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1em;
			font-size: 0.8em;
			line-height: 0.8;
			// opacity: 0;
			// transform: translateX(-20px);
			transition: color 0.3s $easeCubic;
			
			&:before {
				content: 'Replay';
			}
			&:hover {
				color: $gold;
			}
		}
		.video {
			
			&.not_played {
				.replay {
					display: none;
				}
			}
			&.playing .play_pause:before {
				content: 'Pause Video';
			}
			&:hover {
				
				.waves {
					.a {
						transform: rotate(-46deg);
						transition-delay: 0s;
					}
					.b, .c {
						transform: rotate(45deg);
					}
					.c {
						transition-delay: 0.2s;
					}
				}
				.play_pause {
					opacity: 1;
					transform: translateX(0);
				}
				+ .text {
					@include mobile(false) {
						transform: translateX(60px);
					}
				}
			}
		}
		&.right {
			.video {
				
				@include mobile(false) {
					margin-left: 50%;
				}
				@include mobile() {
					margin-left: 60px;
				}
			}
			.text {
				text-align: right;
				
				@include mobile(false) {
					margin-left: -100%;
				}
			}
			.waves {
				left: auto;
				right: 100%;
				transform: translate(50%,-50%) rotate(-135deg);
			}
			.play_pause {
				left: auto;
				right: calc(100% - 170px);
				transform: translateX(20px);
			}
			.replay {
				left: auto;
				right: 0px;
			}
			.video:hover {
				
				.play_pause {
					transform: translateX(0);
				}
				+.text {
					@include mobile(false) {
						transform: translateX(-60px);
					}
				}
			}
		}
		+ .video_outer {
			padding-top: 150px;
			
			@include laptop() {
				padding-top: 120px;
			}
			@include phone() {
				// padding-top: 60px;
			}
		}
	}
}