* { box-sizing: border-box; }
html { font-size: 16px; } // 16px = 1rem

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	// global line-height
	line-height: 1.4;
	overflow-x: hidden;
}

// base image setup
img {
	display: block; // removes white space below image
	max-width: 100%;
	height: auto;
}

// sitewide placeholder for forms
::placeholder {
	color: $dark-blue;
	opacity: 0.6;
	font-style: italic;
	font-size: 14px;
}