/*
.home-header {
	.title-section {
		@include highest_z();
		max-width: 50rem;
		margin: 5rem auto; // auto 0;
		text-align: center;
	}
}
*/

// rings.scss controls rings and animations.
// This is the text content in the center of the expanded ring
.ring-content {
	@include highest_z();
	margin-top: 22rem;

	.text {
		h4 { margin-bottom: 1.5rem; }

		h3 {
			max-width: 25rem;
			margin: 0 auto 1.5rem;
			line-height: 1.2;
		}

		p {
			max-width: 31rem;
			font-weight: 500;
			margin: 0 auto;
		}
	}
}

// header used for all other pages/posts
.default-header {
	position: relative;
	z-index: 5;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden; // keep rings inside container

	.header-side-rings {
		position: absolute;
		z-index: 1;
		top: 7.5rem;
		right: 0;
		width: 40%;
		// max-width: 30rem;
		transform: translateY(-50%);
		
		@include bp(sm) {
			top: 50%;
			width: 25%;
		}
		@include bp(md) {
			width: 15%;
		}
	}

	.cyan-bar {
		display: none;
		height: 3rem;
		width: calc(100% - 18rem);
		position: relative;
		right: 0;
		margin-right: 0;
		margin-left: auto;
		background-color: $cyan;
		
		@include bp(sm) {
			display: block;
		}
	}

	.split-header {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-between;
			align-items: unset;
		}

		.text-content, .image-content {
			width: 100%;
			@include bp(sm) { width: 51%; }
		}

		.text-content {
			@include highest_z();
			background-color: $blue;
			
			@include mq(960px) {
				min-height: 400px;
			}
			> div {
				position: relative;
				max-width: 45rem;
				margin: 0 auto;
				padding: 5rem 5rem; // 2.15rem;

				@include mq($until: 960px) {
					padding-left: 30px;
					padding-right: 30px;
				}
				@include bp(sm) {
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.default-header-text {
				line-height: 1;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			h4 {
				color: $cyan;
			}
			h3 {
/*
				line-height: 1.2;
				font-size: 2rem;
				margin-top: 1rem;
				margin-bottom: 1rem;
*/
			}
			h2 {
				// font-size: 4.5rem;
				margin-bottom: 0 !important;
			}

			h2, h4, p {
				// max-width: 25rem;
				margin: 0 auto 1rem;
			}

			h2, h3, p { color: $white; }

			p {
				font-size: 1.25rem;
				line-height: 1.5;
				margin-top: 10px;
				margin-bottom: 0 !important;
				max-width: 28rem;
				margin-left: 0;
			}

			h4 { text-align: left; }
		}

		.image-content {
			min-height: 15rem; // mobile only
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			@include bp(sm) { min-height: unset; }
		}
	}

	.filter-bar {
		background-color: $cyan;
		padding: 2.25rem;
		max-width: 100%;
		margin: 0 auto;

		// on mobile keep the rings behind the filter bar
		@include highest_z();

		// on desktop, let the rings show on the filter bar but under the filter boxes
		@include bp(sm) {
			position: unset;
			z-index: 1;
		}

		&__filters {
			@include highest_z(); // these are always on top
			display: flex;
			max-width: 77rem;
			margin: 0 auto;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			@include bp(sm) { flex-direction: row; }

			.filter {
				width: 100%;
				padding: 0.5rem;
				background-color: $white;
				font-size: 1rem;
				color: $blue;
			}

			.search {
				position: relative;
				margin-right: 0;
				margin-bottom: 1.5rem;

				@include bp(sm) {
					margin-right: 1rem;
					margin-bottom: 0;
				}

				&:before {
					content: '\f002';
					position: absolute;
					z-index: 5;
					top: 50%;
					left: 1.5rem;
					transform: translateY(-50%);
					font-family: FontAwesome;
				}
			}

			.radius {
				position: relative;

				&:before {
					content: '\f3c5';
					position: absolute;
					z-index: 5;
					top: 50%;
					left: 1.5rem;
					transform: translateY(-50%);
					font-family: FontAwesome;
				}
			}

			.facetwp-input-wrap { display: block; } // full width bars

			.facetwp-search, .facetwp-location {
				padding: 0.5rem 1rem 0.5rem 2.5rem;
				width: 100%;
				border: unset;
			}

			.facetwp-type-proximity {
				display: flex;
			}

			.facetwp-radius {
				border: unset;
				color: $blue;
				font-size: 1rem;
				font-family: $font-body;
				&:hover { cursor: pointer; }
			}

			.facetwp-location { margin-right: 1.5rem; }
			.facetwp-facet { margin-bottom: 0; }
			// .facetwp-template is in jobs.scss (not part of header)
		}
	}
}

.facetwp-counter { display: none; } // hide number of results counter
.facetwp-icon { display: none; }