.facetwp-template { display: none; }
.facetwp-template.visible { display: block; }

.facetwp-empty-loading {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 2.25rem;

	span, p {
		color: rgba($black, 0.4);
	}

	span {
		font-size: 4rem;
	}

	p {
		max-width: 15rem;
		margin: 1.5rem auto 0;
		font-size: 1rem;
	}
}

.job-results {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 62.5rem;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
	}

	&--result-count {
		max-width: 10rem;
		width: 100%;
		margin-bottom: 2rem;
		font-family: $font-body;

		@include bp(sm) {
			margin-right: 2rem;
			margin-bottom: 0;
		}
	}

	&--jobs-list {
		max-width: 38.5rem;
		width: 100%;

		.single-job {
			.job-link {
				display: inline-block;
				font-weight: bold;
				color: $blue;
				font-size: 1rem;
				margin-bottom: 0.5rem;
			}

			.job-employer, .job-description {
				font-weight: 500;
				font-family: $font-body;
				color: $dark-blue;
			}

			.job-employer {
				font-size: 1rem;
				margin-bottom: 0.5rem;
			}

			.job-description {
				font-size: 0.875rem; // 14px
			}
		}
	}
}