// global nav setup
#menu-toggle { display: none; }

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-wrapper {
	position: fixed;
	top: 0;
	display: flex;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	padding: 0 4rem;
	align-items: center;
	justify-content: space-between;
	background-color: $white;
	transition: 0.5s $easeCubic;
	z-index: 9999;

	&.smaller {
		height: 100px;
		// padding: 0.75rem 4rem 1rem;
	}
}

.add-shadow {
	box-shadow: 0 0 5px rgba(#000,0.05), 0 5px 50px rgba(#000,0.05);
}

// Laptop+ only styles
@include mq($from: 960px) {
	.nav-module {
		@include highest_z();
		height: 150px; // 10.5rem;
		background-color: $white;
	}

	.mobile-nav-wrapper { display: none; }

	.logo-desktop {
	    position: absolute;
		width: 10rem;
	    top: 2.75rem;
	    left: 4rem;
		
		&:before { // cover-up
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: -77px;
			left: 0;
			right: 0;
			height: 57px;
			background: #fff;
		}
	}
	.logo-mobile {
		display: none;
	}
	.site-logo {
		width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
		transition: 0.5s $easeCubic;
		
		&.smaller {
			transform: translateY(-77px);
			// width: 5.75rem;
		}
	}

	.nav-container {
		width: 100%;
		
		.menu {
			display: flex;
			justify-content: flex-end; // space-between;
			max-width: 100%;
	
			li {
				// margin-left: 0.25rem;
				// margin-right: 0.25rem;
				
				a {
					line-height: 60px;
					// font-size: 1.1rem;
				}
			}
	
			.menu-item-has-children {
				position: relative;
	
				.sub-menu {
					position: absolute;
					opacity: 0;
					background-color: $white;
					left: -0.75rem;
					transition: opacity 0.1s ease-out;
					// width: 11rem;
					padding: 1.4rem 0;
					z-index: 90;
					// text-align: center;
					box-shadow: 0 2px 5px rgba(#000,0.1), 0 10px 40px rgba(#000,0.1);
					border-radius: 5px;
					pointer-events: none;
					
					li {
						margin-bottom: 0;
	/*
						margin-bottom: 1.5rem;
						
						&:last-of-type {
							margin-bottom: 0;
						}
	*/
					}
					a {
						display: block;
						line-height: 1.8;
						white-space: nowrap;
						padding: 0.3rem 2rem;
					}
				}
	
				&:hover {
					.sub-menu {
						opacity: 1;
						transition: opacity 0.1s ease-out;
						pointer-events: auto;
	
					}
				}
			}
	
			
			a { // :not(.menu-item-type-custom) { // not the join button
				position: relative;
				font-size: 1.25rem;
				font-family: $font-head;
				font-weight: 900;
				color: $blue;
				padding: 0.5rem 1.25rem;
				letter-spacing: 1px;
				
				&:hover {
					color: $yellow;
				}
			}
			> li:not(:last-child) > a[aria-current="page"]:before { // active item
				content: '';
				position: absolute;
				top: 100%;
				left: calc(50% - 4px);
				width: 8px;
				height: 8px;
				border: 100%;
				border-radius: 100%;
				background: $gold;
			}
	
			> .menu-item:last-child { // join button
				margin-left: 0.75rem;
				
				a {
					font-size: 0.75rem;
					font-family: $font-body;
					font-weight: 900;
					background-color: $yellow;
					color: $white;
					border-radius: 25px;
					padding: 0.6rem 1.5rem;
					letter-spacing: 2px;
					text-transform: uppercase;
		
					&:hover {
						background-color: $blue;
						text-decoration: none !important;
					}
				}
			}
	
			.current-menu-item.menu-item-type-custom > a {
				// border: unset;
				// background-color: $blue;
			}
		}
	}
}

// mobile+ until laptop - min styles
@include mq($until: 960px) {
	
	.nav-module {
		height: 100px;
	}
	
	// change padding for the nav-wrapper
	.nav-wrapper {
		padding: 0 30px;
		height: 100px;
	}
	.nav-container { display: none; }

	#menu-toggle { display: block; }
	.logo-desktop { display: none; }
	.logo-mobile { display: block; }
	.site-logo-m { width: 12rem; }

	.mobile-open-icon {
		width: 3rem;
		margin-bottom: 2rem;
		margin-left: 0.75rem;
	}

	.mobile-nav-wrapper {
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		bottom: 0;
		left: 0;
		transform: translateX(100%);
		text-align: left;
		z-index: 999; // ensure this is the top-most element in the stacking context
		background-color: $blue;
		transition: transform 0.3s ease-in;
		overflow: scroll; // for screens that are not tall

		.mobile-nav-container {
			margin-top: 7.5rem;
			margin-left: 3.5rem;
			overflow-x: hidden;
		}

		li:not(.sub-menu li) {
			margin-bottom: 1rem;

			// add space between menu items and those with children
			ul {
				position: relative;
				margin-top: 1.25rem;
				min-height: 0;
			}
		}

		a {
			display: inline-block;
			font-family: $font-head;
			color: $white;
			font-weight: 900;
			font-size: 2rem;
			padding: 0.5rem;
			width: 100%;
			letter-spacing: 1px;
		}

		.menu-item-111993 a {
			width: unset;
			font-family: $font-body;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 1rem;
			background-color: $yellow;
			padding: 0.5rem 1.75rem;
			border-radius: 25px;
			margin-top: 1.5rem;
		}

		// custom dropdown section for menu items with children links
		.menu-item-has-children {
			position: relative;

			> a {
				position: relative;
				width: 100%;

				// apply chevron
				&:after {
					content: '\f078';
					position: absolute;
					top: 0.75rem;
					right: 2.6rem;
					font-family: FontAwesome;
					font-size: 1rem;
					color: $white;
					font-weight: bold;
					transition: 0.2s ease-out;
					transform: rotate(0);
				}

				&:hover { cursor: pointer; }
			}

			// sub-menu styles (&:first)
			> .sub-menu {
				position: relative;
				bottom: 0.5rem;
				left: 0.5rem;

				li {
					padding-bottom: 1rem;
				}

				li:last-of-type {
					padding-bottom: 0;
				}

				a {
					font-weight: 600;
					font-size: 1.1rem;
				}
			}
		}
	}

	.sub-menu {
		display: none;
	}

	.mobile-nav-open {
		display: block;
		transform: translateX(0);
		transition: transform 0.3s ease-in;
	}

	.bottom-nav {
		position: absolute;
		bottom: 2.5rem;
		left: 2.5rem;
		width: 17rem;

		#footer-menu {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			max-width: 35rem;
		}

		li a {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}