.latest-news-title {
	color: $white;
	line-height: 1.2;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.news-list {
	display: flex;
	flex-direction: column;
	max-width: 77rem;
	margin: 0 auto;
	justify-content: center;

	@include bp(800px) {
		flex-direction: row;
		justify-content: space-between;
	}

	.facetwp-template {
		max-width: 30rem;
		@include bp(800px) { max-width: 55rem; }
	}

	.news-post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		max-width: 75rem;
		margin: 0 auto 2rem;
		@include bp(800px) { flex-direction: row; }

		> div {
			max-width: 30rem;
			@include bp(800px) { max-width: 25rem; }
		}

		img {
			max-width: 30rem;
			width: 100%;
			margin-bottom: 1rem;

			@include bp(800px) {
				max-width: 25rem;
				width: unset;
				margin-right: 1.5rem;
				margin-bottom: 0;
			}
		}

		.news-title-link {
			font-size: 1.1rem;
			font-weight: 900;
			font-family: $font-body;
			color: $blue;
			line-height: 1.2;
			&:hover { color: $yellow; }
		}

		h4 { font-size: 0.875rem; }

		p {
			font-size: 0.9375rem;
			color: $dark-blue;
		}
	}

	.filter-list {
		@include bp(800px) { margin-left: 1.5rem; }

		h4 { text-align: left; margin-bottom: 1.5rem; }

		.facetwp-radio {
			font-family: $font-body;
			color: $blue;
			font-size: 1rem;
			font-weight: bold;
			margin-bottom: 1.25rem;
			background: unset;
			padding-left: 0;

			&.checked {
				text-decoration: 2px underline $yellow;
				text-underline-offset: 3px;
			}
		}
	}
}