// core font setup
a, p, span, address, table, td,
small, time, ol, ul, li {
	font-family: $font-body;
	font-weight: 500;
	color: $dark-blue;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of Jan 12, 2021)
	line-height: 1.8;
}

a, p, span {
	// font-size: 1rem;
} // 16px

a {
	text-decoration: none;
	transition: 0.2s ease-out;

	&:hover {
		transition: 0.2s ease-out;
		text-decoration: none;
	}
}

.content-wrapper a {
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 3px;
}

p {
	margin-top: 0;
	margin-bottom: 1.15rem;
}

// base table heading styles
table tr th {
	// font-size: 1rem; // 16px
	padding: 0.2rem;
}

// base table body styles
table tr td {
	font-size: 0.9375rem; // 15px
	padding: 0.2rem;
}

small {
	font-size: 0.875rem; // 14px
	font-style: italic;
}

time {
	display: block;
	padding-bottom: 0.75rem;
	font-size: 0.875rem; // 14px
}

// base list setup
ul:not(.menu),
ol {
	// font-size: 1rem; // 16px

	li { margin-bottom: 0.25rem; }

	// no margin reduction on inner nested lists
	ul { margin-top: 0; }
}

// core heading styles
h1, h2, h3,
h4, h5, h6, .h3 {
	display: block;
	margin-top: 1.25rem;
	margin-bottom: 0.4rem;
	font-family: $font-head;
	color: $dark-blue;
	letter-spacing: 1px;
	font-weight: 800;
	line-height: 1.2;

	// Font Variant for numbers (display inline-style instead of jumbled)
	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari 
	font-feature-settings: "lnum" 1; // standard for browsers (last 5 versions as of Jan 12, 2021)
}

h1 {
	font-size: 3.5rem;
	@include bp(sm) { font-size: 4rem; }
	@include bp(md) { font-size: 5rem; }
}

h2 {
	font-size: 80px;
	line-height: 1.1;
	
	@include mobile() {
		font-size: 65px;
	}
	@include phone() {
		font-size: 50px;
	}
/*
	font-size: 2.25rem; // 26px
	@include bp(xs) { font-size: 3; } // 48px
	@include bp(sm) { font-size: 3.75rem; } // 60px
*/
}

h3, .h3 {
	font-size: 45px;
	line-height: 1.1;
	
	@include mobile() {
		font-size: 37px;
	}
	@include phone() {
		font-size: 30px;
	}
/*
	font-size: 1.75rem; // 28px
	@include bp(sm) { font-size: 2.25rem; } // 36px
*/
}

h4 {
	font-size: 0.875rem; // 14px
	font-family: $font-body;
	text-transform: uppercase;
	letter-spacing: 2px;
	// text-align: center;
}

h5 {
	font-size: 1rem; // 16px
}

h6 {
	font-size: 0.9375rem; // 15px
}