// core site wrapper
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.content-block {
	max-width: 80rem;
	margin: 2rem auto;
	padding: 1rem 2.15rem;

	p {
		
		// base link styles
		a {
			// color: $dark-blue;
			// font-weight: 600;
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}
}

.content-block-default {
	max-width: 50rem;
	margin: 0 auto;
	padding: 8rem 30px;

	@include bp(md) {
		padding: 8rem 5rem;
	}
	h2 {
		
		&:not(:first-child) {
			margin-top: 5rem;
		}
		&:not(:last-child) {
			margin-bottom: 2.5rem;
		}
	}
	h3 {
		
		&:not(:first-child) {
			margin-top: 3rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	h4 {
		color: $cyan;
		
		+ h2 {
			margin-top: 10px !important;
		}
		&:first-child {
			margin-top: 0 !important;
		}
	}
	p, ul li, ol li {
		font-size: 1.2rem;
	}
	p {
		&.has-medium-font-size {
			font-size: 1.5rem;
			line-height: 1.5;
		}
		// base link styles
		a {
			// color: $dark-blue;
			// font-weight: 600;
			text-decoration: underline;
			text-underline-offset: 2px;
			
			&:hover {
				// text-decoration: $yellow underline;
			}
		}
	}

	ul {
		// margin-top: -0.75rem;

		li {
			list-style-type: square;
			margin-top: 1rem;
		    margin-left: 1.25rem;
		    padding-left: 0.5rem;
		}
	}
	.has-flagship-cyan-background-color {
		background: $cyan;
	}
	.has-flagship-blue-background-color {
		background: $blue;
		color: #fff;
		background-image: url('static/images/block-rings.svg');
		background-repeat: no-repeat;
		background-position: calc(0% + 60vw) 50%;
		background-size: auto 100%;
		background-color: $blue;
		
		h1, h2, h3, h5, h6, p, p a, li {
			color: inherit;
		}
		h4 {
			color: $cyan;
		}
		strong {
			color: $gold;
		}
	}
	.has-flagship-blue-dark-background-color {
		background: $dark-blue;
		color: #fff;
		
		h1, h2, h3, h5, h6, p, p a, li {
			color: inherit;
		}
		h4 {
			color: $cyan;
		}
		strong {
			color: $gold;
		}
	}
	.has-flagship-gold-background-color {
		background: $gold;
	}
	.alignfull {
		position: relative;
	    left: 50%;
	    width: 100vw;
	    margin-left: -50vw;
	    margin-right: -50vw;
	    // margin: 5rem -50vw;
	    // padding: 0 5rem;
	    
		.wp-block-group__inner-container {
		    max-width: 50rem;
		    margin: 0 auto;
			padding: 0 30px;
			
			@include bp(sm) {
				padding: 0 5rem;
			}
		}
	}
	.alignwide {
	    margin-left: -5rem;
	    margin-right: -5rem;
	}
	.wp-block-group {
		
		&.has-background {
			padding-top: 5rem;
			padding-bottom: 5rem;
			
			&:not(:first-child) {
				margin-top: 8rem;
			}
			&:not(:last-child) {
				margin-bottom: 8rem;
			}
			&:last-child {
				margin-bottom: -8rem;
			}
			+ .wp-block-group.has-background {
				margin-top: -8rem !important;
			}
			p + h4 {
				margin-top: 5rem;
			}
		}
		&.awareness,
		&.workforce,
		&.education {
			position: relative;
		    position: relative;
/*
		    padding-left: 250px;
		    margin-left: -8rem;
		    margin-right: -8rem;
*/
		    
		    @include bp(md) {
			    padding-left: 250px;
			    margin-left: -8rem;
			    margin-right: -8rem;
		    }
			.wp-block-group__inner-container {
				padding: 5rem 0;
				
				&:before {
					content: '';
					display: block;
					position: relative;
					width: 120px;
					height: 120px;
					margin-bottom: 30px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					
					@include bp(md) {
						left: calc(-5rem - 160px);
						width: 160px;
						height: 160px;
						margin-bottom: -160px;
					}
					@include phone() {
						width: 100px;
						height: 100px;
						margin: 0 auto 30px auto;
					}
				}
			}
			&.awareness .wp-block-group__inner-container:before {
				background-image: url('static/images/awareness_gold.svg');
			}
			&.education .wp-block-group__inner-container:before {
				background-image: url('static/images/education_gold.svg');
			}
			&.workforce .wp-block-group__inner-container:before {
				background-image: url('static/images/workforce_gold.svg');
			}
			&:target {
				margin-top: calc(-5rem - 100px);
				padding-top: calc(5rem + 100px);
			}
		}
	}
	.wp-block-columns {
		
		&.has-background {
			justify-content: center;
			align-items: center;
			padding: 8rem 30px;
			
			@include bp(sm) {
				padding-left: 5rem;
				padding-right: 5rem;
			}
			@include bp(md) {
				padding-left: 8rem;
				padding-right: 8rem;
			}
			h3 {
				font-weight: 800;
				margin-top: 0;
				margin-bottom: 50px;
				line-height: 1;
				letter-spacing: 0.025em;
				font-size: 50px;
				
				@include bp(900px) {
					font-size: 65px;
					margin-bottom: 0;
				}
				@include bp(1200px) {
					font-size: 80px;
				}
			}
			p {
				margin-bottom: 0;
				
				strong {
					color: $gold;
				}
			}
			[class^="editor-button-block"] {
				margin: 0;
				margin-top: 1.75rem;
			}
			.wp-block-column {
				max-width: 37.5rem;
				
				&:first-child {
					* {
						max-width: 25rem;
					}
				}
				+ .wp-block-column {
					margin-left: 0 !important;
					margin-right: 20%;
				}
			}
			&:not(:first-child) {
				margin-top: 8rem;
			}
			&:not(:last-child) {
				margin-bottom: 8rem;
			}
			&:last-child {
				margin-bottom: -8rem;
			}
		}
		h2.has-text-align-center {
			margin-bottom: 0 !important;
		}
	}
	.wp-block-buttons {
		margin-top: 1.75rem;
		
		.wp-block-button { // div
			
			.wp-block-button__link { // a
				display: inline-block;
				// margin-bottom: 1.25rem;
				// margin-right: 1.25rem;
				font-family: $font-body;
				font-weight: 700;
				font-size: 1rem;
				text-align: center;
				line-height: 1.2;
				border-radius: 25px;
				padding: 0.75rem 2rem;
				text-transform: uppercase;
				text-decoration: none !important;
				letter-spacing: 1px;
				
				&.has-flagship-blue-dark-background-color {
					color: #fff;
					background: $dark-blue;
					
					&:hover {
						color: $dark-blue;
						background: $gold;
					}
				}
				&.has-flagship-gold-background-color {
					color: $dark-blue;
					background: $gold;
					
					&:hover {
						background: #fff;
					}
				}
			}
		}
	}
	section.sponsors {
		position: relative;
	    left: 50%;
	    width: 100vw;
	    margin-left: -50vw;
	    margin-right: -50vw;
	    max-width: none;
	    padding-bottom: 0 !important;
	}
}

.news-content-block {
	max-width: 40rem;
	margin: 2rem auto;
	padding: 1rem 2.15rem;

	h2, h3 {
		line-height: 1.2;
		margin-top: 2rem;
	}

	// base link styles
	a {
		color: $blue;
		font-weight: 600;
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}

	p {
		color: $dark-blue;
		font-weight: 500;
		line-height: 1.8;
	}

	img { margin: 0 auto; }
}

// facetwp loader gif
.is-loading {
	.gif-loader {
		display: block;
		width: 4.25rem;
		height: 4.25rem;
		background: url('static/images/loading.gif');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		margin: 0 auto 3.5rem;
		padding: 1rem;
		transition: 0.2s ease-in;
	}
}

// hide wp generated read more links
a.read-more {
	display: none;
}

// unset ugly standard button styles
button {
	background: unset;
	border: unset;
	&:hover { cursor: pointer; }
}

// for closing modals
.close-notice {
	color: $white;
	position: absolute;
	top: 3.5rem;
	right: 2.5rem;
	font-size: 2rem;
	font-weight: bold;
}

.wp-block-quote {
    margin-left: 1rem;
    padding-left: 1.5rem;
    border-left: 2px solid $dark-blue;
}

// helper classes
.semibold { font-weight: 600; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.center { text-align: center; }

// color swaps
.white { color: $white; }
.black { color: $black; }
.light-black { color: $light-black; }
.blue { color: $blue; }
.yellow { color: $yellow; }
.cyan { color: $cyan; }
.dark-blue { color: $dark-blue; }