// Base Colors
$black: #000;
$white: #fff;
$light-black: #3e3e3e;
$light-grey: #ebebeb;
$red: #83010d;

// Theme Colors
$yellow: #FFBC00;
$gold: $yellow;
$blue: #004CDA;
$dark-blue: #003891;
$cyan: #00C5EC;

// Easing
$easeCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

// Fonts
$font-head: 'axia', sans-serif;
$font-body: 'Montserrat', sans-serif;

// Breakpoint Mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}

// Highest z-index on page
@mixin highest_z() {
	position: relative;
	z-index: 9999;
}

// Jay media mixins
@mixin phone( $less: true ) {
	@include respond_at_width(600px, $less) {
		@content;
	}
}

@mixin mobile( $less: true ) {
	@include respond_at_width(900px, $less) {
		@content;
	}
}

@mixin respond_at_width($break, $less) {
	$query: 'max-width: ' + $break;
	@if $less == false {
		$query: 'min-width: ' + ($break + 1px);
	}
	@media ( #{$query} ) {
		@content;
	}
}