<div class="supported-cards">
	<span class="fab fa-cc-visa" title="Visa Card"></span>
	<span class="fab fa-cc-mastercard" title="Mastercard"></span>
	<span class="fab fa-cc-amex" title="American Express Card"></span>
	<span class="fab fa-cc-discover" title="Discover Card"></span>
	<span class="fab fa-cc-stripe" title="Strip Card"></span>
</div>