.accordion-container {
	max-width: 70rem;
	margin: 0 auto;

	.accordion-block-title {
		display: block;
		position: relative;
		padding-top: 0.5rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $light-grey;
		color: $light-black;
		font-weight: bold;
		font-family: $font-body;
		font-size: 1.2rem;
		@include bp(sm) { font-size: 1.4375rem }

		&:hover { cursor: pointer; }

		// add chevron-right after heading
		&:after {
			content: '\f054'; // fa-chevron-right unicode
			position: absolute;
			top: 0.75rem;
			margin-left: 0.5rem;
			font-size: 0.9375rem;
			font-weight: bold;
			font-family: FontAwesome;
			transition: 0.3s ease-in;
			@include bp(sm) { font-size: 1.2rem; }
		}
	}

	// remove border when expanded
	.remove-border {
		transition: 0.1s ease-in;
		border-bottom: 1px solid transparent;
	}

	// rotate the chevron (class applied via js)
	.chevron-rotate:after {
		transform: rotate(90deg);
		transition: 0.3s ease-in;
	}
}