// custom button blocks
.editor-button-block,
.scroll_down_button {
	display: inline-block;
	margin-bottom: 1.25rem;
	margin-right: 1.25rem;
	font-family: $font-body;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;
	line-height: 1.2;
	border-radius: 25px;
	padding: 0.75rem 2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	&:hover { text-decoration: none; }

	&--yellow,
	&--yellow-b {
		@extend .editor-button-block;
		background-color: $yellow;
		color: $dark-blue; // $white;
		
		&:hover {
			color: $white;
			background-color: $blue;
		}
	}

/*
	&--yellow-b {
		// color: $dark-blue;
		
		&:hover {
			color: $white;
		}
	}
*/

	&--blue {
		@extend .editor-button-block;
		background-color: $dark-blue;
		color: $white;

		&:hover {
			color: $dark-blue;
			background-color: $yellow;
		}
	}

	&--cyan {
		@extend .editor-button-block;
		background-color: $cyan;
		color: $white;
		&:hover { background-color: $dark-blue; }
	}
}

.scroll_down_button {
	background-color: $dark-blue;
	color: $white;
	&:hover { background-color: $yellow; }
}