.full-width-block {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 5rem 2.25rem;
	background-repeat: no-repeat;
	background-position: calc(0% + 60vw) 50%;
	background-size: auto 100%;
	background-color: $blue;
	
	@include bp(960px) {
		padding: 8rem 2.25rem;
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;
		max-width: 75rem;
		margin: 0 auto;

		@include bp(960px) {
			flex-direction: row;
			justify-content: space-between;
			text-align: left;
		}

		h3, p {
			color: $white;
			max-width: 25rem;
		}

		h3 {
			font-weight: 800;
			margin-top: 0;
			margin-bottom: 50px;
			line-height: 1;
			letter-spacing: 0.025em;
			font-size: 50px;
			
			@include bp(900px) {
				font-size: 65px;
				margin-bottom: 0;
			}
			@include bp(1200px) {
				font-size: 80px;
			}
			// margin-bottom: 1rem;
			// @include bp(960px) { margin-bottom: unset; }
		}
		.middle {
			// text-align: left;
			
			@include bp(900px) {
				margin-right: 20%;
			}
		}

		p {
			// text-align: center;
			line-height: 1.8;
			font-size: 1.2rem;
			font-weight: 500;
			margin-bottom: 1.75rem;
			
			@include bp(960px) {
				// margin-bottom: unset;
			}
			strong {
				color: $gold;
				display: inline-block;
			}
		}

		a { margin-bottom: 0; }
	}
}