.strategy-block {
	position: relative;
	left: 50%;
	right: 50%;
	width: 100vw;
	background-color: $blue;
	margin: 8rem -50vw;
	padding: 5rem;

	h1 {
		color: $white;
		text-align: center;
		margin-top: 0;
		margin-bottom: 1.75rem;
	}

	&__container {
		display: flex;
		max-width: 75rem;
		margin: 0 auto; // 2rem;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		@include bp(sm) {
			flex-direction: row;
			justify-content: space-around;
			margin: 0 auto; // 5rem;
		}

		@include bp(md) {
			justify-content: space-between;
		}

		// icons, header and text
		&--section {
			// max-width: 20rem;
			width: 30%;
			text-align: center;
			// margin-left: 1.5rem;
			// margin-right: 1.5rem;
			margin-bottom: 2rem;
			@include bp(sm) { margin-bottom: 0; }

			svg {
				display: block;
				width: 5rem;
				margin: 0 auto;
				padding: 0; // 1rem 1rem 0;

				@include bp(sm) { width: 6rem; }
			}

			h2, h3, h4, p { color: $white; }

			h4 {
				color: $cyan;
				margin-top: 2rem;
			}
			h2, h3 {
				margin-top: 0 !important;
			}

			p {
				max-width: 19rem;
				margin: 0 auto 10px auto;
			}
		}
	}

	.editor-button-block--blue {
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}

	.button-container {
		max-width: 100%;
		margin: 0 auto;
		text-align: center;
		padding-top: 5rem;
	}
	+ .wp-block-group.has-background {
		margin-top: -8rem !important;
	}
}