.stories {
	max-width: 100vw;
	margin: 3rem -50vw;
	position: relative;
	left: 50%;
	right: 50%;

	&--shift-wrap {
		display: grid;
		width: 100%;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, 50%);
		row-gap: 5rem;
		column-gap: 0;

		.odd, .even {
			text-align: center;
			margin: 0 auto;
			padding: 2.15rem;

			video {
				max-width: 40rem;
				width: 100%;
				object-fit: fill;
				border: 1px solid $light-grey;
			}
		}

		h3 {
			margin-top: 0;
			margin-bottom: 1.5rem;
		}

		// left
		.odd {

		}

		// right
		.even {

		}


		.video-wrapper {
			width: 100%;
		}

	}
}